<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Tangrammy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/css/font-awesome.css' />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<!--[if lte IE 9]>
	<script src="/js/html5shiv.min.js"></script>
	<script src="/js/respond.min.js"></script>
	<script src="/js/json2.min.js"></script>
	<![endif]-->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/jquery.hotkeys.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
    <script src="/js/t.components.js"></script>
    <script src="/js/richtext.js"></script>
	<script src="/js/tangrammy.js"></script>
</head>
<body style="background-color: #f7f7f9">
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header active">
			<a name="top" />
          <a class="navbar-brand" href="/">精益管理</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav tops">
            			<li><a href='/zcar/list' title=''>ZCar</a></li>
			<li><a href='/todo/list' title=''>任务<br></a></li>
			<li><a href='/release/list' title=''>ZCarRelease</a></li>

          </ul>
          <ul class="nav navbar-nav pull-right">
<% if (request && request.u.user.name)  { %>
        <li class="dropdown" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= request.u.user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= request.u.userurl %>">Detail</a></li>
            <li><a href="javascript:changePassword('<%= request.u.userurl.substring(request.u.userurl.indexOf("=") + 1) %>', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% } else  {%>
            <li><a href="javascript:;" url='/i/login' name="login">Login</a></li>
            <li><a href="javascript:reg()" name="reg">Regester</a></li>
        <li class="dropdown hidden" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">uname<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="userurl">Detail</a></li>
            <li><a href="javascript:changePassword('rid', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% }%>
          </ul>
        </div><!--/.nav-collapse -->
		<a target="_blank" href="https://github.com/ItMan70s/tangrammy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub"></a>
      </div>
</header>
<div style="background-color: #FFF; padding-top:60px;"><div id="container" class="container">
	
<!-- start -->
<style>
 .layout-zone div {
	border: 1px solid #ccc;
	min-height: 30px;
 }
 .layout-zone td {
	border: 1px solid #ccc;
	min-height: 30px;
 }
 .layout-zone .field-active {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
 }
</style>
<form class="well col-md-12" method="post" action="<%= action %>" >
<%
	var editLink = "";
	if (action.match(/\/T\/(copy|new)/gi)) {
		editLink = "";
	} else {
		if (data["dl"] == "layout") {
			editLink = "<a class='btn btn-success' href='/T/update?Rid=" + data["Rid"] + "' title='Move to edit defines page' >Edit Defines</a>";
		} else {
			editLink = "<a class='btn btn-success' href='/T/update?Rid=" + data["Rid"] + "&dl=layout' title='Move to edit layouts page' >Edit Layouts</a>";
		}
	}
%>
	<div class="row">
	<% if (data["dl"] != "layout" && action.match(/\/T\/copy/gi)) { %>
	<% } else { %>
		<input type='hidden' name='Tid' value='<%= data["Tid"] %>'>
	<% } %>
		<input type='hidden' name='Vid' value='<%= data["Vid"] %>' >
		<input type='hidden' name='Rid' value='<%= data["Rid"] %>' >
	<div class='col-md-12'> <h1><%= title %> <%- editLink %></h1>
	<div class='col-md-12 alert alert-danger <%= (code == 200) ? "hide" : "" %>'>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	 <% if ((code || 0) != 200) { %>
	 <label><%- warning || message %></label>
	 <% } %>
	 
	</div>
<% if (data["dl"] != "layout") { %>
	<div class='col-md-12'> <h2>
		<input type='hidden' class="divinput col-md-auto text-nowrap" name='Title' value='<%= data["Title"] %>' placeholder="title for application">
		<select name='Status' class='input-sm col-md-auto' style="margin-top: 8px;">
			<option value='available'  <%= (data["Status"] != "disabled" && data["Status"] != "hidden") ? "selected=true" : "" %>  >Available</option>
			<option value='disabled'  <%= (data["Status"] == "disabled") ? "selected=true" : "" %>  >Disabled</option>
			<option value='hidden'  <%= (data["Status"] == "hidden") ? "selected=true" : "" %>  >Hidden</option>
		</select>
		<% if (action.match(/\/T\/copy/gi)) { %>
			<small class="col-md-auto" style="padding-top: 12px;"> Create New Application Based On</small>
			<select name='Tid' class='input-sm col-md-auto' style="margin-top: 8px;">
				<option value='<%= data["Tid"] %>' >Original DB</option>
				<option value='auto' >New DB</option>
			</select>
		<% } else if (action.match(/\/T\/new/gi)) { %>
		<% } else { %>
			<small class="col-md-auto" style="padding-top: 12px;"> (<%= data["Tid"] %>.<%= data["Vid"] %>)</small>
		<% } %>
	</h2></div>
	<div class='col-md-4'><div class='controls col-md-12'><div class="input-group"><span class="input-group-addon"><a href="javascript:;">http://localhost:3000/</a></span><input type='text' class='form-control' name='URL' value='<%= data["URL"] %>' title='URL'><span class="input-group-addon"><a href="javascript:;">/list</a></span></div></div></div>
	<div class='col-md-8'> </div>
	<div class='col-md-6 tab-content hide'>
		<input type='text' class='form-control richtextcode' name='Help' value='<%= data["Help"] %>' placeholder='Help file link'>
	</div>

	<div class='col-md-12'> 
		<div class='col-md-12'> 
			<textarea class='form-control richtextcode' name='Description' cols=100 rows=2 validate="required"  placeholder="description for application"><%= data["Description"] %></textarea>
		</div>
	</div>
<div class='col-md-12'>
		
			<div class='col-md-12'><label>Fields*</label></div>
			<div class='col-md-12'> 
				<div class='controls'><textarea class='form-control preview' preview='yes' onview='showFields' name='Fields' cols=100 rows='<%= total + 4 %>' validate="required" ><%= data["Fields"] %></textarea></div>
			</div>
			<div class='col-md-12 hide'><div><label>Keys</label><div class='controls'><input type='text' class='form-control' name='Keys' value='<%= data["Keys"] %>' placeholder='Key field names joined by ","'></div></div></div>
			<div class="col-md-12"><div><label class="control-label title-label">Disable Actions</label><div class="controls">
				<div class="form-control min-h34"><div class="min-h20">
				<input type="checkbox" name="NoAction" value="" checked=true class="hidden" >
				<% var val = data["NoAction"] || "";  val = "," + val.toString() + ",";%>
				<label class="checkbox-inline col-md-auto "><input type="checkbox" name="NoAction" value="new" <%= (val.contains( "," + "new" + ",")) ? "checked=true" : "" %> >New</label>
				<label class="checkbox-inline col-md-auto "><input type="checkbox" name="NoAction" value="copy" <%= (val.contains( "," + "copy" + ",")) ? "checked=true" : "" %> >Copy</label>
				<label class="checkbox-inline col-md-auto "><input type="checkbox" name="NoAction" value="update" <%= (val.contains( "," + "update" + ",")) ? "checked=true" : "" %> >Edit</label>
				<label class="checkbox-inline col-md-auto "><input type="checkbox" name="NoAction" value="remove" <%= (val.contains( "," + "remove" + ",")) ? "checked=true" : "" %> >Remove</label>
				<label class="checkbox-inline col-md-auto "><input type="checkbox" name="NoAction" value="show" <%= (val.contains( "," + "show" + ",")) ? "checked=true" : "" %> >Show</label>
				<label class="checkbox-inline col-md-auto "><input type="checkbox" name="NoAction" value="search" <%= (val.contains( "," + "search" + ",")) ? "checked=true" : "" %> >Search</label>
				<label class="checkbox-inline col-md-auto "><input type="checkbox" name="NoAction" value="list" <%= (val.contains( "," + "list" + ",")) ? "checked=true" : "" %> >List</label>
			</div></div></div></div></div>

			<div class='col-md-12'>
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="padding2"><label>Scripts</label></li>
						<li class="active"><a href="#panel-script-new" data-toggle="tab">New/Copy</a></li>
						<li><a href="#panel-script-edit" data-toggle="tab">Edit</a></li>
						<li><a href="#panel-script-show" data-toggle="tab">Show</a></li>
						<li><a href="#panel-script-save" data-toggle="tab">Save</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="panel-script-new">
							<div class='col-md-12'><div><div class='controls'><textarea class='form-control' name='JSNew'  cols=100 rows=5 placeholder="JavaScript to run before New/New, 'data' to refer recorder and must end with return data;"><%= data["JSNew"] %></textarea></div></div></div>
						</div>
						<div class="tab-pane" id="panel-script-edit">
							<div class='col-md-12'><div><div class='controls'><textarea class='form-control' name='JSEdit'  cols=100 rows=5 placeholder="JavaScript to run before Edit, 'data' to refer recorder and must end with return data;"><%= data["JSEdit"] %></textarea></div></div></div>
						</div>
						<div class="tab-pane" id="panel-script-show">
							<div class='col-md-12'><div><div class='controls'><textarea class='form-control' name='JSShow'  cols=100 rows=5 placeholder="JavaScript to run before Show Data, 'data' to refer recorder and must end with return data;"><%= data["JSShow"] %></textarea></div></div></div>
						</div>
						<div class="tab-pane" id="panel-script-save">
							<div class='col-md-12'><div><div class='controls'><textarea class='form-control' name='JSSave'  cols=100 rows=5 placeholder="JavaScript to run before Save Data, 'data' to refer recorder and must end with return data;"><%= data["JSSave"] %></textarea></div></div></div>
						</div>
					</div>	
				</div>	
			</div>
<% 		if (notification) { %>
			<div class='col-md-12'><label>Notification</label>
				<div class='col-md-12'><div class='controls'><div class="input-group col-md-12"><span class="input-group-addon wid100 right"><b>From:</b></span><input type='text' class='form-control' name='EmailFrom' value='<%= (data["EmailFrom"] || "") %>' placeholder='email address to send'></div></div></div>
				<div class='col-md-12'><div class='controls'><div class="input-group col-md-12"><span class="input-group-addon wid100 right"><b>To:</b></span><% var val = data["EmailTo"] || "";  val = "," + val.toString() + ",";%>
					<select class='form-control' name='EmailTo'  size=3 multiple=true >
					<option value='me'  <%= (val.contains( "," + "me" + ",")) ? "selected=true" : "" %>  >Owner</option>					
				<% for (var fid in fields) { %>
					<option value='<%= fid %>'  <%= (val.contains( "," + fid + ",")) ? "selected=true" : "" %>  ><%= "[" + fid + "] " + fields[fid] %></option>
				<% } %>
					</select></div></div></div>
				<div class='col-md-12'><div class='controls'><div class="input-group col-md-12"><span class="input-group-addon wid100 right"><b>Cc:</b></span><input type='text' class='form-control' name='EmailCc' value='<%= (data["EmailCc"] || "") %>' placeholder='email addresses in cc list'></div></div></div>
				<div class='col-md-12'><div class='controls'><div class="input-group col-md-12"><span class="input-group-addon wid100 right"><b>Subject:</b></span><input type='text' class='form-control' name='EmailTitle' value='<%= (data["EmailTitle"] || "") %>' placeholder='subject of email'></div></div></div>
			</div>
<% 		} %>
	
<% } else { %>			
		<div class='col-md-12'> 
		<h1><small><%= (data["Status"] == "hidden") ? "[Hidden]" : "" %><%= (data["Status"] == "disabled") ? "[Disabled]" : "" %></small>
			<span><%- data["Title"] %></span>
			<small> (<%= data["Tid"] %>.<%= data["Vid"] %>)</small>
		</h1></div>
		
		<div class='col-md-4'><small><a href="/<%= data["URL"] %>/list">http://~/<%= data["URL"] %>/list </a> </small></div>
		<div class='col-md-8'> </div>
		<div class='col-md-12'> 
			<div class='col-md-12'> 
				<%- data["Description"] %>
				<textarea class='hide' name='Fields' cols=100 rows='3' ><%= data["Fields"] %></textarea>
			</div>
		</div>

			<h2 class='col-md-12'><small class="col-md-0" style="padding-top: 15px;">[List]</small>
				<div class="col-md-auto text-nowrap" name='TitleLL'><%= data["Title"] %> </div>
				<input type='hidden' class="divinput col-md-auto text-nowrap" name='New' value='<%= (data["New"] || "").contains("<a ") ? data["New"] : " " %>' placeholder="Click to modify action button">
			</h2>
			<div class='col-md-12'>
				<textarea class='form-control richtextcode' name='Header' cols=100 rows=2 validate="required" placeholder="Message in list page" ><%= data["Header"] || ""  %></textarea>
			</div>
			<div class='col-md-12 min-h34'><label>Filter</label></div>
			<div class='col-md-12'>
				<textarea class='form-control preview' preview='yes' onview='viewFilter' name='Filter' cols=100 rows='4' validate="required" placeholder="<a href='javascript:;' filter='filter key words' class='width100' >In progress</a>"><%= (data["Filter"] || "") %></textarea>
			</div>
			<div class='col-md-12 hide'><div><label>Advance Condition</label><div class='controls'><textarea class='form-control' name='AdvanceCondition'  cols=100 rows=10 placeholder='Advance options to show'><%= (data["AdvanceCondition"] || "") %></textarea></div></div></div>
			<div class='col-md-12' style='margin-top: 15px'><span>Click table to edit Field detail, click action button/link to edit its detail. </span></div>
			<div class='col-md-12'>
				<input type='hidden' name='FieldsLL' value='<%= data["FieldsLL"] %>' >
				<textarea class='form-control preview' preview='yes' onview='viewLayout' name='LayoutL' cols=100 rows='<%= total %>'  validate="required" ><%= data["LayoutL"] %> </textarea>
			</div>
			
			<div class='col-md-12'><div><label>Condition</label><div class='controls'>
			<textarea class='form-control hide' name='Condition'  cols=100 rows=2 required=true placeholder='Condition to list data'><%= data["Condition"] %></textarea>
			<div class='col-md-12 search-zone' >
				<div class='col-md-12'>
					<div class='pull-left' name='selectedconditiontitle'><a data-toggle="collapse" data-parent="#accordion" href="#condition_zone" aria-expanded="false" >What data to list?</a></div>
					<div class='col-md-9 pull-left' name='selectedcondition'></div>
				</div>
				<div  id="condition_zone" class="col-md-12 collapse">
				<table class='table'>
			<% 
			var dFields = data["Fields"].toJSON();
			var txtFields = {};
			var txtFids = "";
			var condJ = (data["Condition"] || "{}").toJSON();
			dFields["Update"] = {"type": "String", "form": "datetime", "label": "Update Date", "format": "yyyy-mm-dd hh:mm:ss", "attribute": ","};
			dFields["Create"] = {"type": "String", "form": "datetime", "label": "Create Date", "format": "yyyy-mm-dd hh:mm:ss", "attribute": ","};
			dFields["UpdateR"] = {"type": "String", "form": "text", "label": "Updater", "attribute": ","};
			dFields["CreateR"] = {"type": "String", "form": "text", "label": "Creater", "attribute": ","};
			var dfConditions = [];
			var dfTexts = [];
			var dfNums = [];
			var dfDates = [];
			for (var i in dFields) {
				if (!dFields[i]["form"]) continue;
				if ("options" in dFields[i] && dFields[i]["options"].length > 1) {
					dfConditions.push(i);
				} else if (dFields[i]["form"] == "number") {
					dfNums.push(i);
				} else if (dFields[i]["form"] == "reservation") {
					// ignore
				} else if (dFields[i]["form"] == "time") {
					// ignore
				} else if (dFields[i]["form"].match(/date/gi)) {
					dfDates.push(i);
				} else  {
					dfTexts.push(i);
				}
			}
			dfConditions = dfConditions.concat(dfNums, dfTexts);
			for (var j in dfConditions) {
				var i = dfConditions[j];
				if (!i || !dFields[i]["form"]) continue;
				if ("options" in dFields[i] && dFields[i]["options"].length > 1) {
			%>
					<tr><td><div class='col-md-1 line-header'><%= dFields[i]["label"] %>:</div><div class='col-md-11'><div>
				<% 
				var chks = "";
				if (i in condJ && condJ[i]["$in"]) {
					chks += "," + condJ[i]["$in"].join(",") + ",";
				}
				for (var j in dFields[i]["options"]) {
					var opt = dFields[i]["options"][j];
					var chk = chks.indexOf("," + opt.value + ",") < 0 ? "": " checked=true";
				%>
						<label class='space20'> <input type='checkbox' target='<%= i %>' value='<%= opt.value %>'<%= chk %>><%- opt.caption || opt.value %></label>
				<% } %>
						<label class='checked'> <input type='checkbox' selectall=true>All</label>
					</div></div></td></tr>
			<% 
				} else if (dFields[i]["form"] == "number") {
					var gte = "";
					var lte = "";
					if (i in condJ) {
						gte = condJ[i]["$gte"];
						lte = condJ[i]["$lte"];
					}
			%>		
					<tr><td><div class='col-md-1 line-header'><%= dFields[i]["label"] %>:</div><div class='col-md-11'><div class='wid200 pull-left'><input type='text' target='<%= i %>' value='<%= gte %>' class='form-control input-sm between'></div><div class='wid200 pull-left'><input type='text' target='<%= i %>' value='<%= lte %>' class='form-control input-sm'></div></div></td></tr>
			<% 
				} else if (dFields[i]["form"] == "reservation") {
					// ignore
				} else if (dFields[i]["form"] == "time") {
					// ignore
				} else  {
					txtFields[i] = dFields[i]["label"];
					txtFids += i + "_ac_";
				}
			}
			var cond_txt = condJ["$or"] ? "" : "";
			var cond_txt_ids = {};
			if (condJ["$or"]) {
				for (var i in condJ["$or"]) {
					cond_txt_ids[i] = "";
					cond_txt = condJ["$or"][i] + "";
				}
			}
			%>
					<tr><td><div class='col-md-1 line-header'>Text:</div><div class='col-md-11'><div class='space20 wid400 pull-left'><input type='text' target='<%= txtFids %>' placeholder='ME - for seaching current user' class='form-control input-sm ' value='<%= cond_txt %>' ></div><div class='pull-left'>
				<%
				for (var j in txtFields) { 
					var chk = (j in cond_txt_ids)? " checked=true" : "";
				%>
						<div class='col-md-0'><label class='margin1'><input type='checkbox' target='Fids' value='<%= j %>' <%= chk %> ><%= txtFields[j] %></label></div>
				<% } %>
					</div></div></td></tr>
			<%
					
			for (var j in dfDates) {
				var i = dfDates[j];
				if (!i || !dFields[i]["form"]) continue;
				if (dFields[i]["form"].match(/date/gi)) {
			%>		
					<tr><td><div class='col-md-1 line-header'><%= dFields[i]["label"] %>:</div><div class='col-md-11'>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="-365d~0" <%= i %> >Last 365 Days</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="-30d~0">Last 30 Days</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="-30d~0">Last 7 Days</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="-1d~">Yesterday</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="0d~">Today</label>
					<br />
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="1d~">Tomorrow</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="0w~">This Week</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="0m~">This Month</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="0y~">This Year</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="0~30d">Next 7 Days</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="0~30d">Next 30 Days</label>
					<label class="space20 check"> <input type="radio" name="opt_<%= i %>" target="<%= i %>" value="0~365d">Next 365 Days</label>
					</div></td></tr>
			<% 
				}
			}
			%>
				</table>
				</div>
			</div>
			</div></div></div>
			
			<div class='col-md-12'><div><label>Order By</label>
			<div class='input-group'>
			<% var oby = (data["OrderBy"] + ",,").split(","); var order = (data["Order"] + ",,").split(",");
			for (var i = 0; i < oby.length && i < 3; i++) {
			%>
			<div class='col-md-auto'>
				<select name='OrderBy' class='input-sm'>
				<option value='null'>Select on Fields</option>
				<% for (var fid in fields) { %>
					<option value='<%= fid %>'  <%= (oby[i] == fid) ? "selected=true" : "" %>  ><%= fields[fid] %></option>
				<% } %>
				</select>			
				<select name='Order' class='input-sm'>
					<option value='1'  <%= ("-1" != order[i]) ? "selected=true" : "" %>  >ascending</option>
					<option value='-1'  <%= ("-1" == order[i]) ? "selected=true" : "" %>  >descending</option>
				</select>
				<% if(i == 0) { %>
					<select name='Group' class='input-sm'>
						<option value='1'  <%= ("on" == data["Group"] || "1" == data["Group"]) ? "selected=true" : "" %>  >grouping</option>
						<option value='-1'  <%= ("on" != data["Group"] && "1" != data["Group"]) ? "selected=true" : "" %>  >no group</option>
					</select>
				<% } %>
			  </div>
			<% } %>
			</div>
			</div></div>
			<div class='col-md-12'>
				<textarea class='form-control richtextcode' name='Footer' cols=100 rows=2 validate="required" title="Message in list page"><%= data["Footer"] || "" %></textarea>
			</div>
			
			<h2 class='col-md-12'><small class="col-md-0" style="padding-top: 15px;">[New]</small>
				<input type='hidden' class="divinput col-md-4 text-nowrap" name='TitleLN' value='<%= data["TitleLN"] %>' placeholder="title for new data">
			</h2>
			<div class='col-md-12'> 
				<input type='hidden' name='FieldsLN' value='<%= data["FieldsLN"] %>' >
				<textarea class='form-control preview' preview='yes' onview='viewLayout' name='LayoutN' cols=100 rows='<%= total %>' validate="required" ><%= data["LayoutN"] %></textarea>
			</div>
			<div class='col-md-12'> 
				<textarea class='form-control preview' preview='yes' onview='viewAction' name='ActionLN' cols=100 rows='2' validate="required"  placeholder="Click preview to add new action"><%= data["ActionLN"] %></textarea>
			</div>
			
			<h2 class='col-md-12'><small class="col-md-0" style="padding-top: 15px;">[Edit]</small>
				<input type='hidden' class="divinput col-md-4 text-nowrap" name='TitleLE' value='<%= data["TitleLE"] %>' placeholder="title for new data">
			</h2>
			<div class='col-md-12'>
				<input type='hidden' name='FieldsLE' value='<%= data["FieldsLE"] %>' >
				<textarea class='form-control preview' preview='yes' onview='viewLayout' name='LayoutE' cols=100 rows='<%= total %>' validate="required" ><%= data["LayoutE"] %> </textarea>
			</div>
			<div class='col-md-12'> 
				<textarea class='form-control preview' preview='yes' onview='viewAction' name='ActionLE' cols=100 rows='2' validate="required"  placeholder="Click preview to add new action"><%= data["ActionLE"] %></textarea>
			</div>
			
			<h2 class='col-md-12'><small class="col-md-0" style="padding-top: 15px;">[Show]</small>
				<input type='hidden' class="divinput col-md-4 text-nowrap" name='TitleLS' value='<%= data["TitleLS"] %>' placeholder="title for new data">
			</h2>
			<div class='col-md-12'> 
				<input type='hidden' name='FieldsLS' value='<%= data["FieldsLS"] %>' >
				<textarea class='form-control preview' preview='yes' onview='viewLayout' name='LayoutS' cols=100 rows='<%= total %>' validate="required" ><%= data["LayoutS"] %></textarea>
			</div>
			<div class='col-md-12'> 
				<textarea class='form-control preview' preview='yes' onview='viewAction' name='ActionLS' cols=100 rows='2' validate="required"  placeholder="Click preview to add new action"><%= data["ActionLS"] %></textarea>
			</div>
			<div class='col-md-12'><div class='col-md-11'>
				<label class="radio col-md-11"><input type="radio" name="History" value="on" <%= data["History"] == "on" ? "checked=true" : "" %> >Show operation history in Edit/Show page</label>
				<label class="radio col-md-11"><input type="radio" name="History" value="off" <%= data["History"] != "on" ? "checked=true" : "" %> >Hide operation history in Edit/Show page</label>
			</div></div>


<% } %>					
</div>

	<div class='col-md-12 alert alert-danger <%= code == 200 ? "hide" : "" %>'>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	 <% if ((code || 0) != 200) { %>
	 <label><%- warning || message %></label>
	 <% } %>
	</div>
	<div class='col-md-12'><div class='panel-footer' style='padding-top:20px;'>
<% if (data["dl"] != "layout") { %>
		<input type='hidden' name='dl' value='layout' >
		<button type='submit' class='btn btn-success col-md-2'>Next</button>
		<%- editLink.replace("btn-success", "btn-link") %>
<% } else { %>
		<button type='submit' class='btn btn-success col-md-2'>Save</button>
		<%- editLink.replace("btn-success", "btn-link") %>
<% } %>
		<a class='btn btn-link' href='/tangrammy'>Cancel</a>
	</div></div>
	
	</div>
</form>

<div class="modal" id="FieldEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;top:60px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" data-dismiss="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body" style="min-height: 450px">
	  
<div class="col-md-12">
	<div class="row col-md-12">
		<div class="col-md-2 kid"><div><label class="control-label title-label">ID<b class="red">*</b></label><div class="controls">
			<input type="text" class="form-control" name="kid" value="" required="true" unique="true" readonly="true" placeholder="Key id"></div></div></div>
		<div class="col-md-3"><div><label class="control-label title-label">Field</label><div class="controls">
			<input type="text" class="form-control" name="label" value=""></div></div></div>
		<div class="col-md-2"><div><label class="control-label title-label">type</label><div class="controls">
			<select class="form-control" name="type">
			<option value="String">String</option>
			<option value="Number">Number</option>
			</select>
		</div></div></div>
		<div class="col-md-2 default"><div><label class="control-label title-label">Default</label><div class="controls">
			<input type="text" class="form-control" name="default" value=""></div></div></div>
		<div class="col-md-3"><div><label class="control-label title-label">Form</label><div class="controls">
			<select class="form-control" name="form">
			<option value="hidden">hidden</option>
			<option value="id">id</option>
			<option value="number">number</option>
			<option value="password">password</option>
			<option value="text">text</option>
			<option value="richtext">richtext</option>
			<option value="textarea">textarea</option>
			<option value="radio">radio</option>
			<option value="checkbox">checkbox</option>
			<option value="select">select</option>
			<option value="date">date</option>
			<option value="time">time</option>
			<option value="datetime">datetime</option>
			<option value="reservation">reservation</option>
			</select>
		</div></div></div>
	</div>
	<div>
		<div class="col-md-2 f-minlength"><div><label class="control-label title-label">MinLength</label><div class="controls">
			<input type="text" class="form-control" name="minlength" value=""></div></div></div>
		<div class="col-md-2 f-length"><div><label class="control-label title-label">Length</label><div class="controls">
			<input type="text" class="form-control" name="length" value=""></div></div></div>
		<div class="col-md-2 f-maxlength"><div><label class="control-label title-label">MaxLength</label><div class="controls">
			<input type="text" class="form-control" name="maxlength" value=""></div></div></div>
		<div class="col-md-2 f-min"><div><label class="control-label title-label">Min</label><div class="controls">
			<input type="text" class="form-control" name="min" value=""></div></div></div>
		<div class="col-md-2 f-max"><div><label class="control-label title-label">Max</label><div class="controls">
			<input type="text" class="form-control" name="max" value=""></div></div></div>
		<div class="col-md-2 f-rows"><div><label class="control-label title-label">rows</label><div class="controls">
			<input type="text" class="form-control" name="rows" value="5"></div></div></div>
		<div class="col-md-2 f-cols"><div><label class="control-label title-label">cols</label><div class="controls">
			<input type="text" class="form-control" name="cols" value="100"></div></div></div>
		<div class="col-md-2 f-key"><div><label class="control-label title-label">key</label><div class="controls">
			<input type="text" class="form-control" name="key" value=""></div></div></div>
		<div class="col-md-2 f-val"><div><label class="control-label title-label">val</label><div class="controls">
			<input type="text" class="form-control" name="val" value=""></div></div></div>
		<div class="col-md-4 f-format"><div><label class="control-label title-label">format</label><div class="controls">
			<input type="text" class="form-control" name="format" value="YYYY-MM-DD hh:mm:ss"></div></div></div>
		<div class="col-md-2 f-size"><div><label class="control-label title-label">size</label><div class="controls">
			<input type="text" class="form-control" name="size" value=""></div></div></div>
		<div class="col-md-4 f-regexp"><div><label class="control-label title-label">RegExp</label><div class="controls">
			<input type="text" class="form-control" name="regexp" value=""></div></div></div>
	</div><div>
		<div class="col-md-8 f-placeholder"><div><label class="control-label title-label">Placeholder</label><div class="controls">
			<input type="text" class="form-control" name="placeholder" value=""></div></div></div>
		<div class="col-md-4 f-css"><div><label class="control-label title-label">Css</label><div class="controls">
			<input type="text" class="form-control" name="css" value=""></div></div></div>
	</div><div>
	
		<div class="col-md-12 controls f-options"><label class="control-label title-label"> 
		
		<select name='otype' class='input-sm col-md-auto' style="margin-top: 8px;">
			<option value='diy'  <%= (data["otype"] != "applications" && data["otype"] != "users" ) ? "selected=true" : "" %>  >Options: User Define</option>
			<option value='applications'  <%= (data["otype"] == "applications") ? "selected=true" : "" %>  >Options: Application List</option>
<%
			// <option value='users'  <%= (data["otype"] == "users") ? "selected=true" : "" %>  >Options:  System Users List</option>
%>
		</select>
		</label>
		<div class='col-md-12 tab-content'>
			<div class="switch-icon">
				<a class="btn active" href="#Options-v" data-toggle="tab">view</a>
				<a class="btn" href="#Options-m" data-toggle="tab">code</a>
			</div>
			<div class="editable min-h34 tab-pane mvc-group-v active" id="Options-v" style="height:154px;overflow-y: scroll;">
			</div>
			<div class="tab-pane" id="Options-m">
				<div class='controls'><textarea class='form-control mvc-group-m' name='options' cols=100 rows=7 ></textarea></div>
			</div>
		</div>
		</div>
		
	</div><div>
	<div class="col-md-12 f-msg"><div><label class="control-label title-label">Msg</label><div class="controls">
		<input type="text" class="form-control" name="msg" value=""></div></div></div>
	</div><div>
	<div class="col-md-12 attribute"><label class="control-label title-label">Attributes</label><div class="col-md-12 controls"><div class="min-h20">
		<label class="checkbox-inline col-md-auto f-required"><input type="checkbox" name="attribute" value="required" >Required</label>
		<label class="checkbox-inline col-md-auto f-unique"><input type="checkbox" name="attribute" value="unique" >Unique</label>
		<label class="checkbox-inline col-md-auto f-hidden"><input type="checkbox" name="attribute" value="hidden" >Hidden</label>
		<label class="checkbox-inline col-md-auto f-disabled"><input type="checkbox" name="attribute" value="disabled" >Disabled</label>
		<label class="checkbox-inline col-md-auto f-readonly"><input type="checkbox" name="attribute" value="readonly" >Read Only</label>
		<label class="checkbox-inline col-md-auto f-trim"><input type="checkbox" name="attribute" value="trim">Trim</label>
		<label class="checkbox-inline col-md-auto f-multiple"><input type="checkbox" name="attribute" value="multiple">Multiple</label>
		<label class="checkbox-inline col-md-auto f-htm"><input type="checkbox" name="attribute" value="htm">Html</label>
		<label class="checkbox-inline col-md-auto f-pk"><input type="checkbox" name="attribute" value="pk">Primary Key</label>
	</div></div></div>
	</div>
</div>
	  </div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal">Save</a>
        <a href="#" class="btn confirm-cancelbtn" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
<script>

var fds = null;

function showFields() {	
	if (fds == null) {
		fds = $("#Fields-m").find(".mvc-group-m-preview").val().toJSON();
	}
	var htm = "<table class='table table-hover'>\n";
	htm += "<thead><tr><th>ID</th><th>Field</th><th>Type</th><th>Form</th><th>Default</th><th>Attribute</th><th>PlaceHolder</th></tr></thead>\n<tbody>\n";
	var no = 0;
	for (var i in fds) {
		no++;
		htm += "	<tr class='clickable' onclick='editField(\"" + i + "\")' title='Click to edit field[" + (fds[i]["label"] + "").encodeAttr() + "]'><td>" + i + 
		"</td><td>" + fds[i]["label"] + "</td><td>" + fds[i]["type"] + "</td><td>" + fds[i]["form"] + "</td><td>" + (fds[i]["default"] || "") + "</td><td>" + (fds[i]["attribute"] || "") + 
		"</td><td class='auto-fit text-nowrap'>" + (fds[i]["placeholder"] || "NA") + "</td></tr>\n";
	}
	while (fds["F" + no]) {
		no++;
	}
	//no = no.toHex();
	htm += "	<tr class='clickable' onclick='editField(\"F" + no + "\")' title='new field[F" + no + "]'><td colspan=7 class='text-center'>new field[F" + no + "].</td></tr>\n";
	
	htm += "</tbody>\n</table>\n";
	$("#Fields-v-e").html(htm);
}
function editField(fid) {
	var title = fds[fid] ? "Field[" + fds[fid]["label"] + "]": "New Field";
	$('#FieldEditModal').find('.modal-header h3').html(title);
	var json = {};
	json[fid] = fds[fid];
	init(json);
	
	$('#FieldEditModal').find('.confirm-btn').unbind();
	$('#FieldEditModal').find('.confirm-btn').bind( 'click', function(e){ onCreate(); });
	$('#FieldEditModal').find('.confirm-cancelbtn').unbind();
	$('#FieldEditModal').find('.confirm-cancelbtn').bind( 'click', function(){ $('#FieldEditModal').modal("hide"); });
	$('#FieldEditModal').modal("show");
}
					
					
var types = {"hidden": ["minLength", "length", "maxLength", "min", "max", "options", "trim", "exist", "exist0", "placeholder", "css", "rows", "cols", "key", "val", "format", "size", "multiple"],
"id": ["minLength", "length", "maxLength", "min", "max", "options", "trim", "exist", "exist0", "placeholder", "css", "rows", "cols", "size", "multiple"],
"number": ["minLength", "length", "size", "options", "trim", "exist", "exist0", "rows", "cols", "key", "val", "format", "multiple"],
"password": ["min", "max", "options", "trim", "exist", "exist0", "placeholder", "css", "rows", "cols", "key", "val", "format", "multiple"],
"text": ["min", "max", "options", "trim", "exist", "exist0", "rows", "cols", "key", "val", "format", "multiple"],
"richtext": ["min", "max", "options", "trim", "exist", "exist0", "key", "val", "format", "multiple"],
"textarea": ["min", "max", "options", "trim", "exist", "exist0", "key", "val", "format", "multiple"],
"radio": ["minLength", "length", "maxLength", "min", "max", "trim", "exist", "exist0", "placeholder", "css","regexp", "rows", "size", "key", "val", "format", "multiple"],
"checkbox": ["minLength", "length", "maxLength", "min", "max", "trim", "exist", "exist0", "placeholder", "css","regexp", "rows", "size", "key", "val", "format", "multiple"],
"select": ["minLength", "length", "maxLength", "min", "max", "trim", "exist", "exist0", "placeholder", "css","regexp", "rows", "cols", "key", "val", "format", ],
"date": ["minLength", "length", "maxLength", "min", "max", "options", "trim", "exist", "exist0", "rows", "cols", "key", "val", "size", "multiple"],
"time": ["minLength", "length", "maxLength", "min", "max", "options", "trim", "exist", "exist0", "rows", "cols", "key", "val", "size", "multiple"],
"datetime": ["minLength", "length", "maxLength", "min", "max", "options", "trim", "exist", "exist0", "rows", "cols", "key", "val", "size", "multiple"],
"reservation": ["minLength", "length", "maxLength", "min", "max", "options", "trim", "exist", "exist0", "rows", "cols", "key", "val", "size", "multiple"]};

var chks = " required unique hidden readonly disabled trim exist pk htm multiple ";

$(document).on("change", "[name='form']", onChangeForm);
function init(json) {
	var fields = {};
	for (var i in json) {
		$("[name=kid]").val(i);
		$("[name=kid]").attr("org", i);
		fields = json[i];
	}
	for (var i in fields) {
		if (chks.indexOf(i) > 0) {
			if ($("[value=" + i + "]")[0]) $("[value=" + i + "]")[0].checked=true;
		} else if (i == "attribute") {
			//if ($("[value=" + i + "]")[0]) $("[value=" + i + "]")[0].checked=true;
			$("[name=attribute]").each(function() {
				if (fields[i].indexOf("," + this.value + ",") > -1) {
					$(this.parentNode).removeClass("hidden");
					this.checked = true;
				} else {
					$(this.parentNode).addClass("hidden");
					this.checked = false;
				}
			});
			
		} else {
			if (i == "options" || i == "otype") {
				showOptions(fields["options"] || [], fields["form"], fields["size"] || fields["cols"], fields["otype"]);
			} else {
				$("[name=" + i + "]").val(fields[i] || "");
			}
		}
	}
	onChangeForm();
}

function showOptions(opts, form, cols, type) {

	var htm = "";
	for (var i in opts) {
		htm += '{"value": "' + opts[i]["value"] + '", "caption": "' + (opts[i]["icon"] ? "<img src='" + opts[i]["icon"] + "'>" : "") +
			(opts[i]["css"] ? "<span class='" + opts[i]["css"] + "'>" : "") + (opts[i]["caption"] || "") + (opts[i]["css"] ? "</span>" : "")  + '"},\n';
	}
	$('[name="options"]').val("[" + htm + "]");
	$('[name="otype"]').val(type || "diy");
	htm = "";
	
	var vals = ",";
	if (form == "select") {
		for (var i in opts) {
			vals += opts[i]["value"] + ",";
			htm += "<div class='col-md-12'><div class='col-md-0'>[" + opts[i]["value"] + "]</div><div class='editable col-md-11 min-h34 def-options' contenteditable='true' val=" + opts[i]["value"] + ">" + opts[i]["caption"] + "</div></div>\n";
		}
		var count = vals.split(",").length - 2;
		htm += "<div class='col-md-12 min-h34'> </div>";
		for (var i = 0; i < 3; i++) {
			while (vals.indexOf("," + count + ",") > -1) {
				count++;
			}
			vals += count + ",";
			htm += "<div class='col-md-12'><div class='col-md-0'>[" + count + "]</div><div class='editable col-md-11 min-h34 def-options' contenteditable='true' val=" + count + "></div></div>\n";
		}
		$("#Options-v").html(htm);
		return;
	}
	if (form != "radio" && form != "checkbox") {
		return;
	}
	
	cols = (cols > 0 && cols < 999) ? cols : 10;
	$('[name="cols"]').val(cols);
	var cnt = 1;
	vals = ",";
	//htm += "<div class='col-md-12 divinputs' id='def-options-zone' options='autohide:\"no\", sfont:\"yes\", img:\"no\", link:\"no\", undo:\"no\", '></div>";
	htm += "<div class='col-md-12 divinputs' rt-selector='.def-options-rich' id='def-options-zone' options='autohide:\"no\", sfont:\"yes\", img:\"no\", link:\"no\", undo:\"no\", '>";
	for (var i in opts) {
		vals += opts[i]["value"] + ",";
		htm += "<div class='col-md-0'>[" + opts[i]["value"] + "]</div><div class='editable col-md-auto def-options def-options-rich' contenteditable='true' val=" + opts[i]["value"] + ">" + 
			(opts[i]["icon"] ? "<img src='" + opts[i]["icon"] + "'>" : "") +
			(opts[i]["css"] ? "<span class='" + opts[i]["css"] + "'>" : "") + (opts[i]["caption"] || "") + (opts[i]["css"] ? "</span>" : "") + "</div><div class='col-md-auto'></div>\n";
		
		cnt++;
		if (cnt > cols) {
			cnt = 1;
			htm += "</div>\n";
		}
	}
	var count = vals.split(",").length - 2;
	htm += "<div class='col-md-12' style='padding-top:10px;'><label>To add new options, edit following input text:</label></div><div class='col-md-12' >";
	for (var i = 0; i < 6; i++) {
		while (vals.indexOf("," + count + ",") > -1) {
			count++;
		}
		vals += count + ",";
		htm += "<div class='col-md-0'>[" + count + "]</div><div class='editable col-md-auto min-h34 def-options def-options-rich' contenteditable='true' val=" + count + "></div>";
	}
	htm += "</div>\n";
	$("#Options-v").html(htm);

	$(document).on("click", "[command]", function() {
		var commandArr = $(this).attr("command").split(' ');
		var command = commandArr.shift();
		var args = commandArr.join(' ');
		restoreSelection();
		richtext_editor.focus();
		document.execCommand(command, 0, args);
		saveSelection();
	});
	$(document).on("blur", ".def-options", function() {
		var htm = "";
		$(".def-options").each(function() {
			if ($(this).html().length > 0) {
				htm += '{"value": "' + $(this).attr("val") + '", "caption": "' + $(this).html().replace(/"/gi, "'") + '"},\n';
			}
		});
		$('[name="options"]').val("[" + htm + "]");
	});
	 
	$(document).on("blur", '[name="options"]', function() {
		var json = ("{options: " + $(this).val() + "}").toJSON();
		if (!json["options"]) {
			error("Failed to parse options into JSON! <br />Close current page to drop changes then try to make change in view mode.<br />or Find out what's wrong at <a target='_blank' href='http://jsonlint.com/' >JsonLint</a>.");
		} else {
			showOptions(json["options"], form, cols);
		}
	});
	$(document).on("change", '[name="otype"]', function() {
		if ($(this).val() == "applications" || $(this).val() == "users") {
			$(".f-options > .tab-content").hide();
		} else {
			$(".f-options > .tab-content").show();
		}
	});
	$('[name="otype"]').change();
	//bindRichText();
}

function syncOptions() {
	$(document).on('click', '.def-options-rich', function(){
		var target = $(this.parentNode).find(".mvc-group-m")[0];
		var self = this;
		editWithRichText(self, function() {syncOptions();});
	})
	var options = "";
	$(".def-options").each(function() {
		$(this).attr("val");
	});

}
function onChangeForm() {
	var typ = types[$("[name='form']").val()];
	if (!typ) return;
	$(".hidden").each(function() {
		$(this).removeClass("hidden");
	});
	for (var i in typ) {
		$(".f-" + typ[i].toLowerCase()).addClass("hidden");
	}
		
	var attrs = "," + typ.join(",") + ",";
	$("[name=attribute]").each(function() {
		if (attrs.indexOf("," + this.value + ",") > -1) {
			$(this.parentNode).addClass("hidden");
			this.checked = false;
		} else {
			$(this.parentNode).removeClass("hidden");
		}
	});
}

function onCreate() {
	var cells = ["type", "form", "label", "required", "unique", "hidden", "readonly", "disabled", "PK", "minLength", "length", "maxLength", "min", "max", "options", "default", "regexp", "trim", "exist", "exist0", "placeholder", "css","msg", "htm", "rows", "cols", "key", "val", "format", "size", "multiple"];
	var strings = " type form label default regExp placeholder css msg key val format";
	var chks = " required unique hidden readonly disabled trim exist pk htm multiple ";
	var json = '"' + $("[name=kid]").val() + '": {';
	for (var i in cells) {
		var key = cells[i].toLowerCase();
		if ($(".f-" + key)[0] && $(".f-" + key).hasClass("hidden")) {
			continue;
		}
		var val = $("[name=" + key + "]").val();
		if (chks.indexOf(key) > 0 || !val || val.length < 1) {
			// $("." + key + " input:checked").val() 
			//val = ($("." + key + " input:checked")) ? "true" : "false";
			continue;
		}
		if (key == "options") {
			json += '"otype": "' + $("[name='otype']").val() + '", ';
			if ($("[name=otype]").val() == "diy") {
				val = (val)? val.replace(/[\r\n]/g, ""): "[]";
			} else {
				continue;
			}
		}
		if (strings.indexOf(key) > 0) {
			val = (val)? '"' + val.replace(/"/g, '\\"') + '"' : '""';
		}

		json += '"' + key + '": ' + val + ', ';
	}
	// var val = $("[name=attribute]").val();
	json += '"attribute": ",';
	$("[name=attribute]").each(function() {
		if (this.checked) {
			json += this.value + ',';
		}
	});
	json += '"';
	json += '}';
	json = json.replace(/, \}/g, "}");
	var id = $("[name=kid]").val();
	var oid = $("[name=kid]").attr("org");
	var htm = $("[name='Fields']").val();
	htm = htm.replace("}}", "}\n}").replace(/(.+)("F[\dA-F]+":.+)/g, "$1\n$2\n").replace(/\n+/g, "\n");
	var reg  = new RegExp('"' + oid + '":.+', "g");

	if (oid != id) {
		htm = htm.replace(reg, "");
		if (htm.indexOf('"' + id + '":') > 0) {
			//alert("Field ID is found at current application, try others.");
		} else {
			htm = htm.substring(0, htm.lastIndexOf("}", htm.lastIndexOf("}") - 1)) + "},\n" + json + "}";
		}
	} else {
		if (htm.indexOf('"' + id + '":') > 0) {
			htm = htm.replace(reg, json + ',');
		} else {
			htm = htm.substring(0, htm.lastIndexOf("}", htm.lastIndexOf("}") - 1)) + "},\n" + json + "}";
		}
	}
	htm = htm.replace(/},[\n ]+}/g, "}\n}").replace(/\],[\n ]*}/g, "]}").replace(/},[\n ]*\]/g, "}]");
	fds= htm.toJSON();
	showFields();
	$("[name='Fields']").val(htm);
}

function viewLayout(source, target) {
	var height = $(target).attr("style").replace("height", "overflow: auto;height");
	var stype = (source.contains("name") ? source.mid("out", "'") : source.mid("out"));
	var htm = '<div class="col-md-12 padding0 layout-parent" stype="' + stype + '"><div class="col-md-10 padding1 layout-zone" style="' + height + '">' + $(source).val() + '</div><div class="col-md-2 well padding0 attr-zone">' + 
'<h3>Field Attribute</h3>\n' + 
'<div class="">\n' + 
'	<select name="Field_Ids" class="col-md-12 input-sm">\n' + 
'	<option value="">N/A</option>\n';
	<% for (var fid in fields) { %>
htm += '		<option value="<%= fid %>" ><%= fid + ": " + fields[fid] %></option>\n';
	<% } %>
htm += '	<option value="Update">Update timestamp</option>\n';
htm += '	<option value="UpdateR">Updater</option>\n';
htm += '	<option value="Create">Create timestamp</option>\n';
htm += '	<option value="CreateR">Creater</option>\n';
if (stype == "L") {
htm += '	<option value="Show">Action: Detail</option>\n';
htm += '	<option value="Copy">Action: Copy</option>\n';
htm += '	<option value="Edit">Action: Edit</option>\n';
htm += '	<option value="Remove">Action: Remove</option>\n';
htm += '	<option value="diy">Action: One Click</option>\n';
}
htm += '	</select>\n' + 
'</div>\n' + 
'<div class="Field_Dispaly"><label title="Show default label or typed text"><input type="text" class="form-control" name="Field_Dispaly" value="" placeholder=""></label></div>\n';
if (stype == "L") {
	htm += '<div class=""><label title="Header for list"><input type="text" class="form-control" name="Field_Title" value="" placeholder="Head text"></label></div>\n';
}
htm += '<div class="">\n<label title="Width for field section">';

if (stype == "L") {
	htm += '<input type="text" class="form-control" name="div_width" value="" placeholder="ex: 30% 30px col-md-1">';
} else {
	htm += '	<select name="div_width" class="col-md-12 input-sm">\n' + 
'	<option value="col-md-auto">Auto</option>\n' + 
'	<option value="col-md-12">col-md-12 (100%)</option>\n' + 
'	<option value="col-md-11">col-md-11 (91.7%)</option>\n' + 
'	<option value="col-md-10">col-md-10 (83.3%)</option>\n' + 
'	<option value="col-md-9">col-md-9 (75%)</option>\n' + 
'	<option value="col-md-8">col-md-8 (66.7%)</option>\n' + 
'	<option value="col-md-7">col-md-7 (58.3%)</option>\n' + 
'	<option value="col-md-6">col-md-6 (50%)</option>\n' + 
'	<option value="col-md-5">col-md-5 (41.7%)</option>\n' + 
'	<option value="col-md-4">col-md-4 (33.3%)</option>\n' + 
'	<option value="col-md-3">col-md-3 (25%)</option>\n' + 
'	<option value="col-md-2">col-md-2 (16.7%)</option>\n' + 
'	<option value="col-md-1">col-md-1 (8.3%)</option>\n' + 
'	</select>\n';
}

htm += '</label>\n' + 
'</div>\n';
	
	if (attrN == null) {
		attrN = $("[name='FieldsLN']").val().toJSON();
	}
	if (attrE == null) {
		attrE = $("[name='FieldsLE']").val().toJSON();
	}
	if (attrS == null) {
		attrS = $("[name='FieldsLS']").val().toJSON();
	}
	if (attrL == null) {
		attrL = $("[name='FieldsLL']").val().toJSON();
	}
	if (fields == null) {
		fields = ($('[name="Fields"]').val() + "").toJSON();
	}
	switch(stype) {
		case "N":
		break;
		case "E":
			htm += '<label class="col-md-12" title="Not editable in edit page"><input type="checkbox" name="Field_Readonly" value=true >Read Only</label>\n';
		break;
		case "S":
		break;
		case "L":
			htm += '<label class="col-md-12 Field_Iconly"  title="Only show icon in list page"><input type="checkbox" name="Field_Iconly" value=true >Icon Only</label>\n<label class="col-md-12 Field_Iconly"  title="Only show icon in list page"><input type="checkbox" name="Field_Textonly" value=true >Text Only</label>\n' + 
					'<label class="col-md-12 Field_Clickable"  title="Show in link and move to detail page if clicked"><input type="checkbox" name="Field_Clickable" value=true >Click for detail?</label>\n';
			htm += '<div class="col-md-12 padding0 aclick hide">\n' + 
					'<div class="col-md-12 padding0 aclick-fids"><label>Click to update: </label><select name="aclick_fids" class="col-md-12 input-sm">';
			for (var i in fields) {
				if (!(fields[i]["options"] && fields[i]["options"].length > 0)) continue;
				htm += '	<option value="' + i + '">' + i + ': ' + fields[i]["label"] + '</option>\n';
			}
			htm += '</select></div>\n' + 
					'<div class="col-md-12 padding0 aclick-vals"></div></div>\n';
		break;
		default:
		break;
	}
	htm += '<a class="col-md-12 btn btn-danger fremove" href="javascript:;" pos="">Remove</a>' + 
			'<a class="col-md-12 btn btn-success fappend" href="javascript:;" pos="">Append</a>\n';
			
	htm += '</div></div>\n';
	$(target).html(htm);
	var sty = ($(target).attr("style") + "").replace("overflow-y: scroll;", "min-height: 240px;");
	$(target).attr("style", sty);
	$(target).find(".fremove").hide();
	$(target).find(".fappend").hide();
	var root = $(target).find(".layout-parent");
	
	$(target).find('[field]').each(function(){
		if ($(this).attr("LSAction")) {
			return;
		}
		fillLayoutField(root, $(this).attr("field"));
	});
}

function fillLayoutField(root, fid) {
	var attr = getAttrObj(root);
	if (!attr[fid]) return;
	var label = attr[fid]["displayas"] || "";
	if (label.length < 1 && fields[fid]) {
		label = fields[fid]["label"] || "";
	}
	var htm = (attr[fid]["readonly"] ? "[ReadOnly] " : "") + label + "(" + fid + ")";
	$('[field="' + fid + '"]').html(htm);
}

$(document).on("change", '[name="aclick_fids"]', function() {
	var $self = $(this);
	fillOneClickOptions($self.parents(".aclick"));
});
function fillOneClickOptions(root) {
	var fid = root.find('[name="aclick_fids"]').val();
	if (!fid || !fields[fid]) return;
	
	var htm = '<div class="col-md-12 padding0" style="padding-top: 15px;"><label>One click actions:</label></div>\n<div class="col-md-12 padding0 aclicked-opts"></div>\n' + 
			'<div class="col-md-12 padding0" style="padding-top: 15px;"><label>Selectable actions:</label></div>\n<div class="col-md-12 padding0 aclick-opts">' + 
			'<initLSAction class="btn-group-xs"><a class="btn btn-link" val="' + fid + '=' + 'caret" ><span class="caret" val="caret"></span></a></initLSAction>\n' + 
			'<initLSAction class="btn-group-xs"><a class="btn btn-link" val="' + fid + '=' + 'edit" >More</a></initLSAction></div>';
	var optzone = root.find(".aclick-vals");
	optzone.html(htm);
	var aopts = optzone.find(".aclick-opts");
	var opts = fields[fid]["options"];
	for (var i in opts) {
		aopts.append('<initLSAction class="btn-group-xs"><a class="btn btn-link" name="oneupdate" val="' + fid + '=' + opts[i]["value"] + '" >' + opts[i]["caption"] + '</a></initLSAction>\n');
	}
	
	opts = root.parents(".layout-parent").find('[field="diy"]');
	htm = opts.html() || "";
	if (htm.indexOf("val='" + fid) < 0 && htm.indexOf("val=\"" + fid) < 0) {
		return;
	}
	root.find(".aclicked-opts").html(htm.replace(/LSAction/gi, "initLSAction").replace('<span class="caret" val="caret"></span>', '<initLSAction class="btn-group-xs"><a class="btn btn-link" val="' + fid + '=' + 'caret" ><span class="caret" val="caret"></span></a></initLSAction>'));
	
	opts.find("[val]").each(function(){
		var $self = $(this);
		var val = $self.attr("val");
		if (val == "") {
			val = "edit";
		} else if (val == "caret") {
			val = "caret";
		} else {
			val = val.mid("=");
		}
		var alink = aopts.find('[val="' + fid + '=' + val + '"]')[0];
		if (!alink) return;
		alink.parentNode.removeChild(alink);
	});
}

$(document).on("click", 'initLSAction', function() {
	var $self = $(this);
	var root = $self.parents(".aclick");
	if (($($self[0].parentNode).attr("class") || "").indexOf("aclick-opts") > -1) {
		root.find(".aclicked-opts").append(self[0]);
	} else {
		root.find(".aclick-opts").append(self[0]);
	}
	root = root.parents(".layout-parent");
	var htm = root.find(".aclicked-opts").html().replace(/initlsaction/gi, "LSAction");
	root.find('[field="diy"]').html(htm);
	saveLayout(root);
});

$(document).on("click", "[field]", editLayoutField);
$(document).on("change", '[name="Field_Ids"]', function() {
	var $self = $(this);
	var root = $self.parents(".layout-parent");
	root.find("[field]").each(function() { $(this).removeClass("field-active"); })
	var field = root.find('[field="' + $self.val() + '"]');
	fillDivWidth(field, root.find('[name="div_width"]'));
	autofillAttr(root);
	field.addClass("field-active");
});

$(document).on("change", '[name="div_width"]', function() {
	var $self = $(this);
	var root = $self.parents(".layout-parent");
	var fid = root.find('[name="Field_Ids"]').val();
	var field = root.find('[field="' + fid + '"]');
	var css = (field.attr("class") || "").replace(/(col.md.|wid|p)\d+/gi, "");

	field.attr("class", css);
	
	if ($self.val().match(/^\d+.+/g)) {
		field.attr("width", $self.val());
	} else {
		field.removeProp("width");
		field.addClass($self.val());
	}
	saveLayout(root);
});
function editLayoutField() {
	var $self = $(this);
	var root = $self.parents(".layout-parent");
	fillDivWidth($self, root.find('[name="div_width"]'));
	var ids = root.find('[name="Field_Ids"]');
	if (!$self.attr("field") || ids.html().contains('value="' + $self.attr("field") + '"')) {
		ids.val($self.attr("field"));
	} else {
		ids.append('<option value="' + $self.attr("field") + '" selected="selected">' + $self.attr("field").toUpperCase() + '</option>');
	}
	root.find("[field]").each(function() { $(this).removeClass("field-active"); })
	$self.addClass("field-active");
	autofillAttr(root);
}
function fillDivWidth(field, div) {
	var wid = (field.attr("class") || "");
	if (wid.match(/(col.md.|wid|p)\d+/gi)) {
		wid = wid.replace(/(.*)(col.md.|wid|p)(\d+)(.*)/gi, "$2$3");
	} else {
		wid = (field.attr("width") || "");
	}
	div.val(wid);
}
var fields = null;
var attrN = null;
var attrE = null;
var attrS = null;
var attrL = null;

function getAttrObj(root, fid) {
	var attr = {};
	switch(root.attr("stype")) {
		case "N":
			attr = attrN;
		break;
		case "E":
			attr = attrE;
		break;
		case "S":
			attr = attrS;
		break;
		case "L":
			attr = attrL;
		break;
	}
	if (fid) {
		attr = attr[fid] || {};
	}
	return attr;
}
function autofillAttr(root) {
	if (!root) return;
	if (fields == null) {
		fields = ($('[name="Fields"]').val() + "").toJSON();
	}
	var fid = root.find('[name="Field_Ids"]').val();
	if (!fid) return;
	
	var act = fid.match(/(Update|UpdateR|Create|CreateR|submit|list|new|copy|edit|show|remove|diy)/gi);
	if (!(fid in fields || act)) {
		root.find('.fremove').hide();
		root.find('.fappend').hide();
		root.find('[name="Field_Dispaly"]').attr("placeholder", "");
		return;
	}
	var fattr = getAttrObj(root, fid);
	if (root.attr("stype") == "E") {
		root.find('[name="Field_Readonly"]').attr("checked", (fattr["readonly"]) ? true : false);
	}
	
	var dsp = root.find('[name="Field_Dispaly"]');
	if (act) {
		root.find('.Field_Dispaly').addClass('hide');
	} else {
		var label = fields[fid]["label"] || "";
		dsp.attr("placeholder", label);
		dsp.val(fattr["displayas"] || "");
		root.find('.Field_Dispaly').removeClass('hide');
	}
	if (root.attr("stype") == "L") {
		root.find('[name="Field_Title"]').val(fattr["title"] || "");
		
		root.find('.Field_Iconly').addClass('hide');
		root.find('.Field_Clickable').addClass('hide');
		
		if (!act) {
			if (fields[fid]["options"] && fields[fid]["options"].length > 0) {
				root.find('.Field_Iconly').removeClass('hide');
				root.find('[name="Field_Iconly"]').attr("checked", (fattr["iconly"]) ? true : false);
				root.find('[name="Field_Textonly"]').attr("checked", (fattr["textonly"]) ? true : false);
			}
			root.find('[name="Field_Clickable"]').attr("checked", (fattr["clickable"]) ? true : false);
			root.find('.Field_Clickable').removeClass('hide');
		}
	}
	var field = root.find('[field="' + fid + '"]');
	if (field[0]) {
		var btn = root.find('.fremove');
		btn.attr("title", "Remove current field[" + fid + ":" + label + "] from layout");
		btn.show();
		
		btn = root.find('.fappend');
		btn.attr("pos", fid + ":" + label);
		btn.hide();
	} else {
		root.find('.fremove').hide();
		if (root.attr("stype") != "L") {
			root.find('[name="div_width"]').val("col-md-12");
		}
		var btn = root.find('.fappend');
		btn.attr("title", "Append current field[" + fid + ":" + label + "] " + (btn.attr("pos").length > 0 ? "after " + btn.attr("pos") : ""));
		btn.show();
	}
	if (fid == "diy") {
		if (field[0]) {
			fid = field.html();
			if (fid.contains("val='")) {
				fid = fid.mid("val='", "=");
			} else {
				fid = fid.mid("val=\"", "=");
			}
			
			var sel = root.find('.aclick').find('[name="aclick_fids"]');
			sel.val(fid);
			sel.change();
		}
		root.find('.aclick').removeClass("hide");
	} else {
		root.find('.aclick').addClass("hide");
	}
}
$(document).on("click", '.fremove', function() {
	var $self = $(this);
	var root = $self.parents(".layout-parent");
	var fid = root.find('[name="Field_Ids"]').val();
	var field = root.find('[field="' + fid + '"]');
	if (field[0]) {
		field[0].parentNode.removeChild(field[0]);
	}
	root.find('[name="Field_Ids"]').val("");
	root.find('[name="div_width"]').val("");
	root.find('.fappend').attr("pos", "");
	autofillAttr(root);
	saveLayout(root);
});
$(document).on("click", '.fappend', function() {
	var $self = $(this);
	var root = $self.parents(".layout-parent");
	var fid = root.find('[name="Field_Ids"]').val();
	var wid = root.find('[name="div_width"]').val() || "";
	var label = root.find('[name="Field_Dispaly"]');
	label = label.val().length > 0 ? label.val() : label.attr("placeholder");
	
	var htm = "";
	if (wid.match(/^\d+.+/g)) {
		htm = "width='" + wid + "' ";
	} else {
		htm = "class='" + wid + "' ";
	}
	htm += "field='" + fid + "'>";
	var target = $self.attr("pos");
	if (target.length > 0) {
		target = target.mid(0, ":");
	}
	$self.attr("pos", fid + ":" + label);
	if (root.find("td")[0]) {
		if (fid.match(/copy|show|edit|remove|diy/gi)) {
			var alink = '<lsaction class="btn-group-xs"><a class="btn btn-default" href="javascript:;" name="delete" title="">delete</a></lsaction>';
			alink = alink.replace(/delete/g, fid.toLowerCase());
			htm = "<td field='" + fid + "'" + htm + alink + "</td>\n";
		} else {
			htm = "<td " + htm + label + "(" + fid + ")" + "</td>\n";
		}
	} else {
		htm = "<div " + htm.replace("class=''", "class='col-md-auto'") + label + "(" + fid + ")" + "</div>\n";
	}
	
	if (target.length > 0) {
		root.find('[field="' + target + '"]').after(htm);
	} else {
		if (root.find("td")[0]) {
			root.find('td:last').after(htm);
		} else {
			root.find('.layout-zone').append(htm);
		}
	}
	saveLayout(root);
	root.find('[field="' + fid + '"]').click();
});

function saveLayout(root) {
	if (!root) return;
	root.find("[field]").each(function() { $(this).removeClass("field-active"); })
	var htm = root.find('.layout-zone').html();
	var source = "[name='LayoutN']".replace("N", root.attr("stype"));
	$(source).val(htm.replace("field-active", "").replace(/(\r?\n)+/gi, "\n"));
}

$(document).on("change", '[name="Field_Readonly"]', saveFieldAttr);
$(document).on("change", '[name="Field_Iconly"]', saveFieldAttr);
$(document).on("change", '[name="Field_Textonly"]', saveFieldAttr);
$(document).on("change", '[name="Field_Clickable"]', saveFieldAttr);
$(document).on("change", '[name="Field_Dispaly"]', saveFieldAttr);
$(document).on("change", '[name="Field_Title"]', saveFieldAttr);
function saveFieldAttr() {
	var $self = $(this);
	var root = $self.parents(".layout-parent");
	var fid = root.find('[name="Field_Ids"]').val();
	
	var attr = {};
	switch(root.attr("stype")) {
		case "N":
			attr = attrN;
		break;
		case "E":
			attr = attrE;
		break;
		case "S":
			attr = attrS;
		break;
		case "L":
			attr = attrL;
		break;
	}
	
	if (!attr[fid]) {
		attr[fid] = {};
	}
	var $obj = root.find('[name="Field_Readonly"]');
	attr[fid]["readonly"] = $obj[0] ? $obj[0].checked : false;
	
	$obj = root.find('[name="Field_Iconly"]');
	attr[fid]["iconly"] = $obj[0] ? $obj[0].checked : false;
	
	$obj = root.find('[name="Field_Textonly"]');
	attr[fid]["textonly"] = $obj[0] ? $obj[0].checked : false;
	
	$obj = root.find('[name="Field_Clickable"]');
	attr[fid]["clickable"] = $obj[0] ? $obj[0].checked : false;
	
	$obj = root.find('[name="Field_Title"]');
	attr[fid]["title"] = $obj[0] ? $obj.val() : "";
	
	$obj = root.find('[name="Field_Dispaly"]');
	attr[fid]["displayas"] = $obj[0] ? $obj.val() : "";
	
	$("[name='FieldsLN']".replace("N", root.attr("stype"))).val(obj2str(attr));
	fillLayoutField(root, fid);
}

function viewAction(source, target) {
	$(target).html($(source).val() + '<div class="col-md-0"><a class="btn btn-link" href="javascript:;"><img src="/img/add.png">New Action</a></div>');
}
$(document).on("focus", "[target-input=\"[name='New']\"]", function(e) {
	var newAction = '<div class="col-md-0"><a class="btn btn-link" href="javascript:;"><img src="/img/add.png">New Action</a></div>';
	var $self = $(this);
	var t =  $self.attr("target-input");
	if (!$self.html().contains("< a")) {
		$self.html(newAction);
	}
	editAction(e, $self.find("div")[0], function () { if ($self.html() == newAction) $self.html(""); $(t).val($self.html());  });
});

$(document).on("change", "[name='Title']", function() {$("[name='TitleLL']").html($(this).val());});
$(document).on("click", "#ActionLN-v-e >div", editAction);
$(document).on("click", "#ActionLE-v-e >div", editAction);
$(document).on("click", "#ActionLS-v-e >div", editAction);
$(document).on("click", "LSAction", function(e) {
	var $self = $(this);
	if ($self.prop("tagName") == "TD") {
		editLayoutField();
	} else {
		editAction(e, $self[0], function () {
			var root = $self.parents(".layout-parent");
			saveLayout(root); 
			autofillAttr(root);
		});
	}
});

function editAction(e, act, callback) {
	var newAction = '<div class="col-md-0"><a class="btn btn-link" href="javascript:;"><img src="/img/add.png">New Action</a></div>';
	var $self = act ? $(act) : $(this);
	var htm = $self.html();
	var action = ($self.find("a") || $self);
	var href = action.attr("url") || "";
	var hint = action.attr("title") || "";
	var label = action.html() || "";
	var name = (action.attr("name") || "").toLowerCase();
	var css = (action.attr("class") || "").toLowerCase();
	var sel = "<select name='Action_Name' class='input-sm'>" + 
			"	<option value='submit'>Submit</option>" + 
			"	<option value='list'>List</option>" + 
			"	<option value='new'>New</option>" + 
			"	<option value='copy'>Copy</option>" + 
			"	<option value='edit'>Edit</option>" + 
			"	<option value='show'>Detail</option>" + 
			"	<option value='delete'>Remove</option>" + 
			"	<option value='diy'>DIY</option>" + 
			"</select>\n";
	sel = sel.replace("value='" + name + "'", "value='" + name + "' selected=true");
	if (sel.indexOf("value='" + name + "'") < 0) {
		sel = sel.replace("</select>\n", "	<option value='" + name + "' selected=true>" + name + "</option></select>\n");
	}
	var style = "<div class='btn-group'><a name='Action_css' href='javascript:;' class='btn btn-danger'>R</a>" +
	"<a name='Action_css' href='javascript:;' class='btn btn-warning'>O</a>" +
	"<a name='Action_css' href='javascript:;' class='btn btn-success'>G</a>" +
	"<a name='Action_css' href='javascript:;' class='btn btn-primary'>B</a>" +
	"<a name='Action_css' href='javascript:;' class='btn btn-info'>S</a>" +	
	"<a name='Action_css' href='javascript:;' class='btn btn-default'>G</a>" +	
	"<a name='Action_css' href='javascript:;' class='btn btn-link'>NA</a></div>";
	
	var msg = '<div class="modal-body" style="min-height: 200px;"><div class="row">\n' +
'		<div class="col-md-4"><div class="well col-md-12" style="height:170px;"><label>Preivew:</label><div class="controls" name="Action_html">' + htm + '</div></div></div>\n' +
'		<div class="col-md-8 padding0"><div class="col-md-12">' + style + '</div><div class="col-md-12 action_type" style="padding: 5px 0px;"><div class="col-md-4">' + sel + '</div>' +
"<div class='col-md-8'><div class='controls'><input type='text' class='form-control' name='Action_href' value='" + href + "' placeholder='URL like: /APP/show?Rid=RID'></div></div></div>" + 
'		<div class="col-md-12">' + "<div class='controls'><input type='text' class='form-control richtextcode' name='Action_label' options='autohide:\"no\", link:\"no\", sfont:\"yes\", ' value='" + label + "' placeholder='action label'></div>" + '</div>' + 
"<div class='col-md-12' style='padding-top: 34px;'><div class='controls'><input type='text' class='form-control' name='Action_hint' value='" + hint + "' placeholder='hint message'></div></div>" + '</div>\n' +
'</div>\n</div>\n';

	showModalView((name == "" ? "New Action" : "Modify Action"), msg, "Save", "Cancel", 
	function() {
		var parent = $self[0].parentNode;
		if($("[name='Action_label']").val() == "") {
			parent.removeChild($self[0]);
		} else {
			$self.html($("[name='Action_html']").html());
		}
		var id = $(parent).attr("id");
		if (id && id.contains("-v-e")) {
			if (!$(parent).html().contains(newAction)) {
				$(parent).append(newAction);
			}
			var val = $(parent).html();
			val = val.substr(0, val.lastIndexOf("<div "));
			val = val.replace(/\<\/div\>[\n]+/gi, "</div>\n");
			$("[name='" + id.replace("-v-e", "") + "']").val(val);
		} else {
			if (callback) {
				callback();
			}
		}
	},
	function() {
	});
	//bindRichText();
	var obj = $("[name='Action_html']").find("a");
	
	var actionInList = $self.prop("tagName").match(/(TD|LSAction)/gi);
	if (actionInList) {
		$(".action_type").addClass("hide");
	} else {
		$(".action_type").removeClass("hide");
	}
	$(document).on("click", "[name='Action_css']", function(){obj.attr("class", $(this).attr("class")); if (!actionInList) obj.attr("style", "min-width:80px;");});
	$(document).on("change", "[name='Action_Name']", function(){
		obj.attr("name", $(this).val()); 
		if ($(this).val() == "diy") {
			$("[name='Action_href']").show();
		} else {
			$("[name='Action_href']").hide();
		}
	});
	$("[name='Action_Name']").change();
	$(document).on("blur", "[name='Action_href']", function(){
		obj.attr("url", $(this).val());
	});
	$(document).on("blur", "[name='Action_hint']", function(){obj.attr("title", $(this).val());});
	$(document).on("blur change", "[name='Action_label']", function(){obj.html($(this).val());});
}

$(document).on("click", "#Filter-v-e >a", editFilter);
function editFilter() {
	var newFilter = '<a class="filter" href="javascript:;"><img src="/img/add.png"></a>';
	var $self = $(this);
	var text = $self.attr("filter") || "";
	var label = $self.html() || "";

	var msg = '<div class="modal-body" style="min-height:120px;">\n' +
"		<div class='col-md-12'><div class='col-md-2 padding0 right'><label>Filter Text:</label></div><div class='col-md-10 controls'><input type='text' class='form-control' name='filter_text' value='" + text.encodeAttr() + "' placeholder='string to find in page'></div></div>" + 
"		<div class='col-md-12'><div class='col-md-2 padding0 right'><label>Filter Label:</label></div><div class='col-md-10 controls'><input type='text' class='form-control richtextcode' name='filter_label' options='autohide:\"no\", link:\"no\", sfont:\"yes\", ' value='" + label.encodeAttr() + "' placeholder='label'></div></div>" + 
'</div>\n';

	showModalView((text == "" ? "New Filter" : "Modify Filter"), msg, "Save", "Cancel", 
	function() {
		var parent = $self[0].parentNode;
		if ($("[name='filter_label']").val() == "" || $("[name='filter_text']").val() == "") {
			parent.removeChild(self[0]);
		} else {
			$self.html($("[name='filter_label']").val());
			$self.attr("filter", $("[name='filter_text']").val());
		}
		
		$("[name='Filter']").val($(parent).html().replace(newFilter, ""));
		if (!$(parent).html().contains(newFilter)) {
			$(parent).append("\n" + newFilter);
		}
	},
	function() {
	});
	//bindRichText();
}
function viewFilter(source, target) {
	$(target).html($(source).val() + '\n<a class="filter" href="javascript:;"><img src="/img/add.png"></a>');
}
function ___showLink(name, define) {
	var htm = "";
	if (name == "submit") {
		htm = "btn btn-primary";
		var label = define["label"] || "";
		if (define.icon) {
			label = '<img src="/img/' + define.icon + '" alt="' + label + '" title="' + label + '">' + label;
		}
		if ("css" in define) {
			htm = define["css"];
		}
		htm = '<button type="button" class="' + htm + '">' + label + '</button>';
		if (define.disabled) {
			htm = htm.replace(' class="', 'disabled=true class="disabled ');
		}
		return htm;
	}
	if (name.startsWith("diy")) {
		return "";
	}
	var def = {};
	switch (name) {
	case "list":
		def = {"Title": "List", "label": "List", "icon": "", "type": "link"};
		break;
	case "edit":
		def = {"Title": "Edit", "label": "Edit", "icon": "copy.png", "type": "link"};
		break;
	case "new":
		def = {"Title": "New", "label": "New Data", "icon": "add.png", "type": "link"};
		break;
	case "copy":
		def = {"Title": "Copy", "label": "Copy", "icon": "copy.png", "type": "link"};
		break;
	case "show":
		def = {"Title": "Detail", "label": "Detail", "icon": "", "type": "link"};
		break;
	case "remove":
		def = {"Title": "Remove", "label": "Remove", "icon": "remove.png", "type": "link"};
		break;
	default:
		break;
	}
	for (var i in define) {
		def[i] = define[i];
	}
	
	if (def.type != "link" && def.type != "button") {
		return "";
	}
	
	htm = ' class="btn "';
	if (def.type != "link") {
		htm = ' class="btn-primary"';
	}
	if ("css" in def) {
		htm = ' class="btn ' + def["css"] + '"';
	}
	
	if (def.disabled) {
		htm = htm.replace(' class="', 'disabled=true class="disabled ');
	}
	
	htm = '<a ' + htm + ' href="javascript:;">';
	if (def.icon) {
		htm += '<img src="/img/' + def.icon + '" alt="' + def.label + '" title="' + def.label + '">';
	}
	htm += def.label + '</a>';
	htm = '<div class="' + (def.width ? def.width : "col-md-0") + '">' + htm + '</div>';
	return htm;
}

$(document).on("blur", "[target-input=\"[name='Title']\"]", function() { $("[name='TitleLL']").html($(this).html()); });
$(document).on('blur', '.search-zone input', function(){
	var cond = '{';
	for (var i in asCond) {
		cond += ((i == '$or') ? ', ' + i + ': ' : ', "' + i + '": ') + asCond[i] + '';
	}
	cond = cond.replace("{, ", "{") + '}';
	$("[name='Condition']").val(cond);
});
refreshAS();
</script>
<!-- end -->
	<div class="go-top">
	<div class="btn-group">
		<a href="#" class="btn btn-default hide"></a>
		<a href="javascript:;" id="scrollTop" class="btn btn-default glyphicon glyphicon-open"></a>
		<a href="javascript:;" id="scrollBack" class="btn btn-default glyphicon glyphicon-chevron-up"></a>
		<a href="javascript:;" id="scrollNext" class="btn btn-default glyphicon glyphicon-chevron-down"></a>
		<a href="#bottom" class="btn btn-default glyphicon glyphicon-save"></a>
		<a href="#" class="btn btn-default hide"></a>
	</div>
	</div>
<script>
	<%- (("" || warning).length > 0) ?  'var warning = \'' + warning.replace(/'/g, "\\'") + '\'; \n  setTimeout("warn(warning)", 2);' : '' %>
	
</script>
	<div id="ModalView"></div>
<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" close="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal" style="min-width:80px;">OK</a>
        <a href="#" class="btn confirm-cancelbtn" style="min-width:80px;">Cancel</a>
      </div>
    </div>
  </div>
</div>
	<a name="bottom" > </a>
</div></div>
	
<footer style="border-top: 1px solid #e1e1e8; padding: 15px 0;">
<div class="container padding0">
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin" style="text-align: left;">
		<li><label>推荐网站: </label></li>
		<li><a href="http://mgcrea.github.io/angular-strap/#" target="_blank" title="">Angular Strap</a></li>
		<li><a href="http://www.apjs.net/" target="_blank" >Angular中文网</a></li>
		<li><a href="http://docs.ngnice.com/api/ng/service/$q" target="_blank" >Angular API</a></li>
		<li><a href="http://www.whycss.com/" target="_blank" >前端网址导航</a></li>
		<li><a href="http://ionichina.cn/docs/components/" target="_blank" >Ionic</a></li>
		<li><a href="http://codepen.io/ionic/public-list/" target="_blank" >Ionic Codes</a></li>
		<li><a href="http://www.bootcss.com/p/layoutit/#" target="_blank" >Bootstrap布局</a></li>
		</ul>
	</div>
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin" style="text-align: left;">
		<li><label>友情链接: </label></li>
		<li><a href="http://kunkkawu.com" target="_blank" title="吴坤的博客">吴坤的博客</a></li>
		<li><a href="http://www.yaozihao.cn" target="_blank" title="子豪的博客">子豪的博客</a></li>
		<li><a href="http://www.cnblogs.com/itman70s" target="_blank">Job的博客</a></li>
		<li><a href="http://itman70s.github.io/richtext/" target="_blank">富文本控件</a></li>
		<li><label>小工具: </label></li>
		<li><a href="/base64.html" target="_blank">Base64转换</a></li>
		<li><a href="/super.html" title="代码同步等小工具">小工具</a></li>		
		<li><a href="#" download=".xls" title="尝试下载当前页面数据">下载</a></li>		
		</ul>
	</div>
	<div class="col-md-12 right">
		Created by <a href="https://github.com/ItMan70s/Tangrammy/">Tangrammy 0.3.0</a> at 2016
	</div>
</div>
</footer>
</body>
</html>