<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Tangrammy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/css/font-awesome.css' />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/jquery.hotkeys.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-richtext.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
	<script src="/js/tangrammy.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header active">
			<a name="top" />
          <a class="navbar-brand" href="/tangrammy">Tangrammy</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav tops">
            			<li><a href='/' title=''>Home</a></li>
			<li><a href='/todo/list' title=''>Todo</a></li>

          </ul>
          <ul class="nav navbar-nav pull-right">
<% if (request && request.u.user.name)  { %>
        <li class="dropdown" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= request.u.user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= request.u.userurl %>">Detail</a></li>
            <li><a href="javascript:changePassword('<%= request.u.userurl.substring(request.u.userurl.indexOf("=") + 1) %>', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% } else  {%>
            <li><a href="javascript:;" url='/i/login' name="login">Login</a></li>
            <li><a href="javascript:reg()" name="reg">Regester</a></li>
        <li class="dropdown hidden" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">uname<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="userurl">Detail</a></li>
            <li><a href="javascript:changePassword('rid', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% }%>
          </ul>
        </div><!--/.nav-collapse -->
		<a target="_blank" href="https://github.com/ItMan70s/tangrammy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub"></a>
      </div>
    </div>
	
	<div id="container" class="container">
<!-- start -->
	<div class='left-toolbar'>
	  <ul class="nav navbar-nav">
		<li><a href="#Summary">Summary</a></li>
		<li><a href="#Defines">Defines</a></li>
		<li><a href="#Scripts">Scripts</a></li>
		<li><a href="#Layout">Layout</a></li>
		<li><a href="#Emails">Emails</a></li>
		<li><a href="#Others">Others</a></li>
	  </ul>
	</div>
	<a name="Summary"></a>
	<h1><%= title %></h1>
	

<form class="well col-md-12" method="post" action="<%= action %>" >
	<div class="row">
	<div class='col-md-12'> <legend class="">Summary</legend>
		<div class='col-md-3'><div><label>Title*</label><div class='controls'><div class='input-group'><input type='text' class='form-control' name='Title' value='<%= data["Title"] %>' required=true placeholder='Application Title - could be different from name'></div></div></div></div>
		<div class='col-md-3'><div><label>URL</label><div class='controls'><div class='input-group'><input type='text' class='form-control' name='URL' value='<%= data["URL"] %>' placeholder='Application URL'></div></div></div></div>
		<div class='col-md-2'><div><label>Tid*</label><div class='controls'><div class='input-group'><input type='text' class='form-control' name='Tid' value='<%= data["Tid"] %>' readonly=true required=true placeholder='Application name'></div></div></div></div>
		<div class='col-md-2'><div><label>Vid*</label><div class='controls'><div class='input-group'><input type='text' class='form-control' name='Vid' value='<%= data["Vid"] %>' readonly=true required=true placeholder='Application name'></div></div></div></div>
		<div class='col-md-2'><div><label>Rid*</label><div class='controls'><div class='input-group'><input type='text' class='form-control' name='Rid' value='<%= data["Rid"] %>' readonly=true required=true placeholder='Application name'></div></div></div></div>
		<div class='col-md-12'><div><label>Description*</label><div class='controls'><textarea class='form-control' name='Description'  cols=100 rows=5 required=true ><%= data["Description"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>Header in list page</label><div class='controls'><textarea class='form-control' name='Header'  cols=100 rows=2><%= data["Header"] %></textarea></div></div></div>
		
		<a name="Defines"></a>
		<div class='col-md-12'><div><label>Footer in list page</label><div class='controls'><textarea class='form-control' name='Footer'  cols=100 rows=2><%= data["Footer"] %></textarea></div></div></div>
	</div>	
	<div class='col-md-12'><legend class="">Defines</legend>
		<div class='col-md-12'><div><label>Fields*</label><div class='controls'><textarea class='form-control' name='Fields'  cols=100 rows=10 required=true placeholder='Application Fields defines'><%= data["Fields"] %></textarea><label>To add all applications as options: "options": ['APP_OPTIONS'], </label></div></div></div>
		<div class='col-md-12'><div><label>Keys</label><div class='controls'><input type='text' class='form-control' name='Keys' value='<%= data["Keys"] %>' placeholder='Key field names joined by ","'></div></div></div>
		<div class='col-md-12'><div><label>Condition</label><div class='controls'><textarea class='form-control' name='Condition'  cols=100 rows=10 required=true placeholder='Condition to list data'><%= data["Condition"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>Advance Condition</label><div class='controls'><textarea class='form-control' name='AdvanceCondition'  cols=100 rows=10 placeholder='Advance options to show'><%= (data["AdvanceCondition"] || "") %></textarea></div></div></div>
		<div class="col-md-12"><div><label class="control-label title-label">Disable Operations</label><div class="controls">
<div class="form-control min-h34"><div class="min-h20">
<% var val = data["NoAction"] || "";  val = "," + val.toString() + ",";%>
<input type="checkbox" name="NoAction" value="" checked=true class="hidden" >
			<label class="checkbox-inline col-md-2 "><input type="checkbox" name="NoAction" value="new" <%= (val.contains( "," + "new" + ",")) ? "checked=true" : "" %> >New</label>
			<label class="checkbox-inline col-md-2 "><input type="checkbox" name="NoAction" value="copy" <%= (val.contains( "," + "copy" + ",")) ? "checked=true" : "" %> >Copy</label>
			<label class="checkbox-inline col-md-2 "><input type="checkbox" name="NoAction" value="update" <%= (val.contains( "," + "update" + ",")) ? "checked=true" : "" %> >Edit</label>
			<label class="checkbox-inline col-md-2 "><input type="checkbox" name="NoAction" value="remove" <%= (val.contains( "," + "remove" + ",")) ? "checked=true" : "" %> >Remove</label>
			<label class="checkbox-inline col-md-1 "><input type="checkbox" name="NoAction" value="show" <%= (val.contains( "," + "show" + ",")) ? "checked=true" : "" %> >Show</label>
			<label class="checkbox-inline col-md-1 "><input type="checkbox" name="NoAction" value="search" <%= (val.contains( "," + "search" + ",")) ? "checked=true" : "" %> >Search</label>
			<label class="checkbox-inline col-md-1 "><input type="checkbox" name="NoAction" value="list" <%= (val.contains( "," + "list" + ",")) ? "checked=true" : "" %> >List</label>
			</div></div></div></div></div>
		<div class='col-md-12'><div><label>New Data*</label><div class='controls'><textarea class='form-control' name='New'  cols=100 rows=2 required=true placeholder='Action New defines'><%= data["New"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>Copy & Create Data*</label><div class='controls'><textarea class='form-control' name='Copy'  cols=100 rows=2 required=true placeholder='Action Copy defines'><%= data["Copy"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>Update Data*</label><div class='controls'><textarea class='form-control' name='Edit'  cols=100 rows=2 required=true placeholder='Action Edit defines'><%= data["Edit"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>Show Data*</label><div class='controls'><textarea class='form-control' name='Show'  cols=100 rows=2 required=true placeholder='Action Show defines'><%= data["Show"] %></textarea></div></div></div>
		<a name="Scripts"></a>
		<div class='col-md-12'><div><label>Delete Data*</label><div class='controls'><textarea class='form-control' name='Remove'  cols=100 rows=2 required=true placeholder='Action Remove defines'><%= data["Remove"] %></textarea></div></div></div>
	</div>	
	<div class='col-md-12'><legend class="">Scripts</legend>
		<div class='col-md-12'><div><label>JS before New/Copy</label><div class='controls'><textarea class='form-control' name='JSNew'  cols=100 rows=10 placeholder="JavaScript to run before New/New, 'data' to refer recorder and must end with return data;"><%= data["JSNew"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>JS before Edit</label><div class='controls'><textarea class='form-control' name='JSEdit'  cols=100 rows=10 placeholder="JavaScript to run before Edit, 'data' to refer recorder and must end with return data;"><%= data["JSEdit"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>JS before Show Data</label><div class='controls'><textarea class='form-control' name='JSShow'  cols=100 rows=10 placeholder="JavaScript to run before Show Data, 'data' to refer recorder and must end with return data;"><%= data["JSShow"] %></textarea></div></div></div>
		<a name="Layout"></a>
		<div class='col-md-12'><div><label>JS before Save Data</label><div class='controls'><textarea class='form-control' name='JSSave'  cols=100 rows=10 placeholder="JavaScript to run before Save Data, 'data' to refer recorder and must end with return data;"><%= data["JSSave"] %></textarea></div></div></div>
	</div>	
	<div class='col-md-12'><legend class="">Layout</legend>
		<div class='col-md-12'><div><label>New</label><div class='controls'><textarea class='form-control' name='LNew'  cols=100 rows=10 placeholder=""><%= data["LNew"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>Edit</label><div class='controls'><textarea class='form-control' name='LEdit'  cols=100 rows=10 placeholder=""><%= data["LEdit"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>Show</label><div class='controls'><textarea class='form-control' name='LShow'  cols=100 rows=10 placeholder=""><%= data["LShow"] %></textarea></div></div></div>
		<div class='col-md-12'><div><label>List</label><div class='controls'><textarea class='form-control' name='LList'  cols=100 rows=10 placeholder=""><%= data["LList"] %></textarea>
		<label>, "TR": {}, "Head": {"Title": ""}, "F3": {"Title": "-", "colspan": 6}<br/>
		&lt;a href='javascript:;' filter='key words' class='wid100' &gt;In progress&lt;/a&gt;
		</label>
		</div></div></div>
		<a name="Emails"></a>
		<div class='col-md-12'><div><label>Filter</label><div class='controls'><textarea class='form-control' name='Filter'  cols=100 rows=10 placeholder="<a href='javascript:;' filter='filter key words' class='width100' >In progress</a>"><%= data["Filter"] %></textarea></div></div></div>
	</div>	
	<div class='col-md-12'><legend class="">Emails</legend>
		<div class='col-md-12'><div><label>Email To</label><div class='controls'><% var val = data["EmailTo"] || "";  val = "," + val.toString() + ",";%>
			<select class='form-control' name='EmailTo'  size=2 multiple=true >
			<option value='me'  <%= (val.contains( "," + "me" + ",")) ? "selected=true" : "" %>  >Owner</option>
			<option value='F0'  <%= (val.contains( "," + "F0" + ",")) ? "selected=true" : "" %>  >F0</option>
			<option value='F1'  <%= (val.contains( "," + "F1" + ",")) ? "selected=true" : "" %>  >F1</option>
			</select></div></div></div>
		<div class='col-md-12'><div><label>Cc</label><div class='controls'><input type='text' class='form-control' name='EmailCc' value='<%= data["EmailCc"] %>' placeholder='email addresses in cc list'></div></div></div>
		<div class='col-md-12'><div><label>Title</label><div class='controls'><input type='text' class='form-control' name='EmailTitle' value='<%= data["EmailTitle"] %>' placeholder='Title in email'></div></div></div>
	</div>	
		<a name="Others"></a>
	<div class='col-md-12'><legend class="">Others</legend>
		<div class='col-md-12'><div><label>Order By</label>
		<div class='input-group'>
		<% var oby = (data["OrderBy"] + ",,").split(","); var order = (data["Order"] + ",,").split(",");
		for (var i = 0; i < oby.length && i < 3; i++) {
		%>
		<div class='col-md-4'>
			<select name='OrderBy' class='input-sm'>
			<option value='null'>Select Order on Fields</option>
			<% for (var fid in fields) { %>
				<option value='<%= fid %>'  <%= (oby[i] == fid) ? "selected=true" : "" %>  ><%= fields[fid] %></option>
			<% } %>
			</select>			
			<select name='Order' class='input-sm'>
				<option value='1'  <%= ("-1" != order[i]) ? "selected=true" : "" %>  >ascending</option>
				<option value='-1'  <%= ("-1" == order[i]) ? "selected=true" : "" %>  >descending</option>
			</select>
          </div>
		<% } %>
		</div>
		</div></div>
		<div class='col-md-12'><div><label>Group By Above first order item</label><div class='controls'><% var val = data["Group"] || "";  val = "," + val.toString() + ",";%><label class='inline'> </label>
			<label class='radio-inline col-md-1'><input type='radio' name='Group' value='on'  <%= (val.contains( "," + "on" + ",")) ? "checked=true" : "" %> >Yes</label>
			<label class='radio-inline col-md-1'><input type='radio' name='Group' value='off'  <%= (val.contains( "," + "off" + ",")) ? "checked=true" : "" %> >No</label></div></div></div>
		<div class='col-md-12'><div><label>History in Edit page</label><div class='controls'><% var val = data["History"] || "";  val = "," + val.toString() + ",";%><label class='inline'> </label>
			<label class='radio-inline col-md-1'><input type='radio' name='History' value='on'  <%= (val.contains( "," + "on" + ",")) ? "checked=true" : "" %> >Show</label>
			<label class='radio-inline col-md-1'><input type='radio' name='History' value='off'  <%= (val.contains( "," + "off" + ",")) ? "checked=true" : "" %> >Hide</label></div></div></div>
		<div class='col-md-12'><div><label>Visible in Home page</label><div class='controls'><% var val = data["Visible"] || "";  val = "," + val.toString() + ",";%><label class='inline'> </label>
			<label class='radio-inline col-md-1'><input type='radio' name='Visible' value='on'  <%= (val.contains( "," + "on" + ",")) ? "checked=true" : "" %> >Yes</label>
			<label class='radio-inline col-md-1'><input type='radio' name='Visible' value='off'  <%= (val.contains( "," + "off" + ",")) ? "checked=true" : "" %> >No</label></div></div></div>
		<div class='col-md-12'><div><label>Enable this view</label><div class='controls'><% var val = data["Enable"] || "";  val = "," + val.toString() + ",";%><label class='inline'> </label>
			<label class='radio-inline col-md-1'><input type='radio' name='Enable' value='on'  <%= (val.contains( "," + "on" + ",")) ? "checked=true" : "" %> >Yes</label>
			<label class='radio-inline col-md-1'><input type='radio' name='Enable' value='off'  <%= (val.contains( "," + "off" + ",")) ? "checked=true" : "" %> >No</label></div></div></div>
		<div class='col-md-12'><div><label>Help Link</label><div class='controls'><input type='text' class='form-control' name='Help' value='<%= data["Help"] %>' placeholder='Help file link'></div></div></div>
	</div>
	<div class='col-md-12 error'>
	 <% if ((code || 0) != 200) { %>
	 <label><%= message %></label>
	 <% } %>
	</div>
	
	<div class="container section-action">
	<div class='panel-footer col-md-12'>
		<button type='submit' class='btn btn-primary col-md-2'>Save Changes</button>
		<a class='btn btn-default col-md-1' href='/tangrammy'>Back</a>
	</div>
	</div>
	
	</div>
</form>
<!-- end -->

	<div class="row"></div>
	<div class="go-top">
	<div class="btn-group">
		<a href="#" class="btn btn-default hidden"></a>
		<a href="javascript:;" id="scrollTop" class="btn btn-default glyphicon glyphicon-open"></a>
		<a href="javascript:;" id="scrollBack" class="btn btn-default glyphicon glyphicon-chevron-up"></a>
		<a href="javascript:;" id="scrollNext" class="btn btn-default glyphicon glyphicon-chevron-down"></a>
		<a href="#bottom" class="btn btn-default glyphicon glyphicon-save"></a>
		<a href="#" class="btn btn-default hidden"></a>
	</div>
	</div>
<script>
	<%- (("" || warning).length > 0) ?  'var warning = \'' + warning.replace(/'/g, "\\'") + '\'; \n  setTimeout("warn(warning)", 2);' : '' %>
	
</script>
	<div id="ModalView">
	</div>
<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" close="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal">OK</a>
        <a href="#" class="btn confirm-cancelbtn">Cancel</a>
      </div>
    </div>
  </div>
</div>
	<a name="bottom" > </a>
	<hr />
	<footer>
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin pull-left">
		<li><label>Dependencies：</label></li>
		<li><a target="_blank" href="https://nodejs.org/">NodeJS</a></li>
		<li><a target="_blank" href="http://www.mongodb.org/">mongoDB</a></li>
		<li><a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
		<li><a target="_blank" href="http://jquery.com/">jQuery</a></li>
		<li><a target="_blank" href="https://github.com/">GitHub</a></li>
		<li><a target="_blank" href="https://github.com/ItMan70s/bootstrap3-richtext">bootstrap3-richtext</a></li>
		</ul>
	</div>
	<div class="col-md-12 right">
		Created by <a href="https://github.com/ItMan70s/Tangrammy/">Tangrammy 0.2.0</a> at 2014.
	</div>
	</footer>
	</div>
</body>
</html>

