<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Tangrammy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/css/font-awesome.css' />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/jquery.hotkeys.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
    <script src="/js/t.components.js"></script>
    <script src="/js/richtext.js"></script>
	<script src="/js/tangrammy.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header active">
			<a name="top" />
          <a class="navbar-brand" href="/tangrammy">Tangrammy</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav tops">
            			<li><a href='/' title=''>Home</a></li>
			<li><a href='/issues/list' title=''>Issues</a></li>
			<li><a href='/todo/list' title=''>Todo</a></li>
			<li><a href='/zcar/list' title=''>ZCar</a></li>

          </ul>
          <ul class="nav navbar-nav pull-right">
<% if (request && request.u.user.name)  { %>
        <li class="dropdown" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= request.u.user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= request.u.userurl %>">Detail</a></li>
            <li><a href="javascript:changePassword('<%= request.u.userurl.substring(request.u.userurl.indexOf("=") + 1) %>', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% } else  {%>
            <li><a href="javascript:;" url='/i/login' name="login">Login</a></li>
            <li><a href="javascript:reg()" name="reg">Regester</a></li>
        <li class="dropdown hidden" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">uname<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="userurl">Detail</a></li>
            <li><a href="javascript:changePassword('rid', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% }%>
          </ul>
        </div><!--/.nav-collapse -->
		<a target="_blank" href="https://github.com/ItMan70s/tangrammy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub"></a>
      </div>
    </div>
	<div id="container" class="container" style="padding-top:60px;padding-bottom:60px;">
	
<!-- start -->
<style>
 .layout-zone div {
	border: 1px solid #ccc;
	min-height: 30px;
 }
 td {
	border: 1px solid #ccc;
	min-height: 30px;
 }
 .layout-zone .field-active {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
 }
</style>

<div class="well col-md-12"><div class="row">
	<div class='col-md-12'> 
		<div class='col-md-12'> 
		<h1><small><%= (data["Status"] == "hidden") ? "[Hidden]" : "" %><%= (data["Status"] == "disabled") ? "[Disabled]" : "" %></small>
			<span><%- data["Title"] %></span>
			<small> (<%= data["Tid"] %>.<%= data["Vid"] %>)</small>  <a class='btn-xs btn btn-success' name="onemsg" href="javascript:;" url="/T/create?Rid=<%= data["Rid"] %>">Build Application</a>
		</h1></div>
		
		<div class='col-md-4'><small><a href="/<%= data["URL"] %>/list">http://~/<%= data["URL"] %>/list </a> </small></div>
		<div class='col-md-2'> </div>
		<div class='col-md-6 tab-content hide'><%= data["Help"] %></div>
	</div>
	<div class='col-md-12'> 
		<div class='col-md-12'> 
			<%- data["Description"] %>
		</div>
	</div>

	<div class='col-md-12'>
		<div class="col-md-12">
			<ul class="pagination tab">
				<li class="btn-info text-center active"><a class="wid200 font170" href="#panel-defines" data-toggle="tab">Defines</a></li>
				<li class="btn-info text-center"><a class="wid200 font170" href="#panel-layout" data-toggle="tab">Layouts</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane active" id="panel-defines">
			
				<div class='col-md-12'><label>Fields*</label></div>
				<div class='col-md-12'><%- data["Fields"] %></div>
				<div class='col-md-12 hide'><div><label>Keys</label><div class='controls'><%- data["Keys"] %></div></div></div>
				<div class="col-md-12"><div><label class="control-label title-label">Disable Actions</label><div class="controls">
					<div class=" min-h20"><%= data["NoAction"] || "" %></div>
				</div></div></div>

				<div class='col-md-12'>
					<div class="tabbable">
						<ul class="nav nav-tabs">
							<li class="padding2"><label>Scripts</label></li>
							<li class="active"><a href="#panel-script-new" data-toggle="tab">New/Copy</a></li>
							<li><a href="#panel-script-edit" data-toggle="tab">Edit</a></li>
							<li><a href="#panel-script-show" data-toggle="tab">Show</a></li>
							<li><a href="#panel-script-save" data-toggle="tab">Save</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="panel-script-new">
								<div class='col-md-12'><div><div class='controls'><%= data["JSNew"] %></div></div></div>
							</div>
							<div class="tab-pane" id="panel-script-edit">
								<div class='col-md-12'><div><div class='controls'><%= data["JSEdit"] %></div></div></div>
							</div>
							<div class="tab-pane" id="panel-script-show">
								<div class='col-md-12'><div><div class='controls'><%= data["JSShow"] %></div></div></div>
							</div>
							<div class="tab-pane" id="panel-script-save">
								<div class='col-md-12'><div><div class='controls'><%= data["JSSave"] %></div></div></div>
							</div>
						</div>	
					</div>	
				</div>
				<div class='col-md-12'><label>Notification</label>
					<div class='col-md-12'><div class='controls'><div class="input-group col-md-12"><span class="right">From:<%= (data["EmailFrom"] || "") %></span></div></div></div>
					<div class='col-md-12'><div class='controls'><div class="input-group col-md-12"><span class="right">To:<%= (data["EmailTo"] || "") %></span></div></div></div>
					<div class='col-md-12'><div class='controls'><div class="input-group col-md-12"><span class="right">Cc:<%= (data["EmailCc"] || "") %></span></div></div></div>
					<div class='col-md-12'><div class='controls'><div class="input-group col-md-12"><span class="right">Subject:<%= (data["EmailTitle"] || "") %></span></div></div></div>
				</div>
				
			</div>
			<div class="tab-pane" id="panel-layout">
				
				<h2 class='col-md-12'><small>[New]</small> <%- data["TitleLN"] %></h2>
				<div class='col-md-12'><%- data["LayoutN"] %></div>
				<div class='col-md-12'> <%- data["ActionLN"] %></div>
				
				<h2 class='col-md-12'><small>[Edit]</small> <%- data["TitleLE"] %></h2>
				<div class='col-md-12'><%- data["LayoutE"] %></div>
				<div class='col-md-12'> <%- data["ActionLE"] %></div>
				
				<h2 class='col-md-12'><small>[Show]</small> <%- data["TitleLS"] %></h2>
				<div class='col-md-12'><%- data["LayoutS"] %></div>
				<div class='col-md-12'> <%- data["ActionLS"] %></div>
				
				<div class='col-md-12'><div class='col-md-11'>
					<label class="radio col-md-11"> <%= data["History"] == "on" ? "Show operation history in Edit/Show page" : "Hide operation history in Edit/Show page" %></label>
				</div></div>

				<h2 class='col-md-12'><span class='col-md-0'><small>[List]</small><%- data["Title"] %></span> <small> <%- (data["New"] || "") %></small></h2>
				<div class='col-md-12'><%- data["Header"] || ""  %></div>
				<div class='col-md-12 min-h34'><div><label>Filter</label><div class='controls'><%- (data["Filter"] || "") %></div></div></div>
				<div class='col-md-12' style='margin-top: 25px'><div><label>Layout</label><div class='controls'><%- data["LayoutL"] %></div></div></div>
				
				<div class='col-md-12'><div><label>Condition</label><div class='controls'><%= data["Condition"] %></div></div></div>
				
				<div class='col-md-12'><div><label>Order By</label>
				<div class='input-group'>
				<% var oby = (data["OrderBy"] + ",,").split(","); var order = (data["Order"] + ",,").split(",");
				for (var i = 0; i < oby.length && i < 3; i++) {
				%>
				<div class='col-md-auto'>
					<% for (var fid in fields) { %>
						<%= (oby[i] == fid) ? fields[fid] : "" %>
					<% } %>	
					 <%= ("-1" != order[i]) ? " Ascending" : " Descending" %>
					<% if(i == 0) { %>
						<%= ("on" == data["Group"]) ? " Grouping" : " no group" %>
					<% } %>
				  </div>
				<% } %>
				</div>
				</div></div>
				<div class='col-md-12'><%- data["Footer"] || "" %></div>
					
			</div>
		</div>
	</div>

	<div class='col-md-12 error'>
	 <% if ((code || 0) != 200) { %>
	 <label><%= message %></label>
	 <% } %>
	</div>
	<div class='col-md-12'><div class='panel-footer' style='padding-top:20px;'>
		<a class='btn btn-primary col-md-2' href='/tangrammy'>OK</a>
		<a class='btn btn-default col-md-1' href="/T/update?Rid=<%= data["Rid"] %>"><img class="icon15" src="/img/edit.png" title="Edit">Edit</a>
		<a class='btn btn-link' href="/T/update?Rid=<%= data["Rid"] %>&dl=layout"><img class="icon15" src="/img/edit.png" title="Edit">Layouts</a>
		<a class='btn btn-link' name="onemsg" href="javascript:;" url="/T/create?Rid=<%= data["Rid"] %>">Build Application</a>
	</div></div>
	
</div></div>
	
<!-- end -->
	<div class="go-top">
	<div class="btn-group">
		<a href="#" class="btn btn-default hide"></a>
		<a href="javascript:;" id="scrollTop" class="btn btn-default glyphicon glyphicon-open"></a>
		<a href="javascript:;" id="scrollBack" class="btn btn-default glyphicon glyphicon-chevron-up"></a>
		<a href="javascript:;" id="scrollNext" class="btn btn-default glyphicon glyphicon-chevron-down"></a>
		<a href="#bottom" class="btn btn-default glyphicon glyphicon-save"></a>
		<a href="#" class="btn btn-default hide"></a>
	</div>
	</div>
<script>
	<%- (("" || warning).length > 0) ?  'var warning = \'' + warning.replace(/'/g, "\\'") + '\'; \n  setTimeout("warn(warning)", 2);' : '' %>
	
</script>
	<div id="ModalView"></div>
<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" close="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal" style="min-width:80px;">OK</a>
        <a href="#" class="btn confirm-cancelbtn" style="min-width:80px;">Cancel</a>
      </div>
    </div>
  </div>
</div>
	<hr />
	<footer>
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin pull-left">
		<li><label>推荐网站:</label></li>
		<li><a href="http://mgcrea.github.io/angular-strap/#"  title="Share Point">Angular Strap</a></li>
		<li><a href="http://www.whycss.com/" >前端网址导航</a></li>
		</ul>
	</div>
	<div class="col-md-12 right">
		Created by <a href="https://github.com/ItMan70s/Tangrammy/">Tangrammy 0.3.0</a> at 2015.
	</div>
	</footer>
	</div>
	<a name="bottom" > </a>
</body>
</html>

