<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Todo - Tangrammy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/css/font-awesome.css' />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/jquery.hotkeys.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-richtext.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
	<script src="/js/tangrammy.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
			<a name="top" />
          <a class="navbar-brand" href="/tangrammy">Tangrammy</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav tops">
            			<li ><a href='/' title=''>Home</a></li>
			<li class='active'><a href='/todo/list' title=''>Todo</a></li>

          </ul>
          <ul class="nav navbar-nav pull-right">
<% if (request && request.u.user.name)  { %>
        <li class="dropdown" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= request.u.user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= request.u.userurl %>">Detail</a></li>
            <li><a href="javascript:changePassword('<%= request.u.userurl.substring(request.u.userurl.indexOf("=") + 1) %>', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% } else  {%>
            <li><a href="javascript:;" url='/i/login' name="login">Login</a></li>
            <li><a href="javascript:reg()" name="reg">Regester</a></li>
        <li class="dropdown hidden" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">uname<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="userurl">Detail</a></li>
            <li><a href="javascript:changePassword('rid', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% }%>
          </ul>
        </div><!--/.nav-collapse -->
		<a target="_blank" href="https://github.com/ItMan70s/tangrammy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub"></a>
      </div>
    </div>
	<div id="container" class="container" style="padding-top:60px;padding-bottom:60px;">
	
<h1>Add New Todo</h1>

<form class='fields-section well col-md-12' method="post" action="/todo/new" target="submitFrame" >

<div class='row'>
<div class='col-md-12 <%= (code != 200) ? "alert alert-danger": "" %>'><%= (code != 200) ? message : "" %></div>
<div class='hidden'><input type='hidden' class='hidden' name='format' value='json'>
<input type='hidden' class='hidden' name='app' value='todo'>
<input type='hidden' class='hidden' name='Rid' value=''></div><div class='col-md-12'>		<div><label class='control-label title-label'>ID<B class='red'>*</B></label><div class='controls'>
		<div class='form-show' readonly=true><%= (data["F5"] || '') %><input type='hidden' class='hidden' name='F5' value='<%= data["F5"] || "" %>'></div></div></div>
</div>
<div class='col-md-12'>		<div><label class='control-label title-label'>Priority<B class='red'>*</B></label><div class='controls'>
<% var val = data["F3"] || "";  val = "," + val.toString() + ",";%><div class='form-control min-h34'><div class='min-h20'>
			<label class='radio-inline col-md-2 '><input type='radio' name='F3' value='0'  required=true <%= (val.contains( "," + "0" + ",")) ? "checked=true" : "" %> >Low</label>
			<label class='radio-inline col-md-2 orange'><input type='radio' name='F3' value='1'  required=true <%= (val.contains( "," + "1" + ",")) ? "checked=true" : "" %> ><img class='icon15' src='/img/s/f4.png'>Medium</label>
			<label class='radio-inline col-md-2 red'><input type='radio' name='F3' value='2'  required=true <%= (val.contains( "," + "2" + ",")) ? "checked=true" : "" %> ><img class='icon15' src='/img/s/f5.png'>High</label></div></div></div></div>
</div>
<div class='col-md-12'>		<div><label class='control-label title-label'>Status<B class='red'>*</B></label><div class='controls'>
<% var val = data["F2"] || "";  val = "," + val.toString() + ",";%><div class='form-control min-h34'><div class='min-h20'>
			<label class='radio-inline col-md-2 blue'><input type='radio' name='F2' value='0'  required=true <%= (val.contains( "," + "0" + ",")) ? "checked=true" : "" %> ><img class='icon15' src='/img/s/b1.png'>Initial</label>
			<label class='radio-inline col-md-2 green'><input type='radio' name='F2' value='1'  required=true <%= (val.contains( "," + "1" + ",")) ? "checked=true" : "" %> ><img class='icon15' src='/img/s/b2.png'>In progress</label>
			<label class='radio-inline col-md-2 orange'><input type='radio' name='F2' value='2'  required=true <%= (val.contains( "," + "2" + ",")) ? "checked=true" : "" %> >Paused</label>
			<label class='radio-inline col-md-2 black'><input type='radio' name='F2' value='3'  required=true <%= (val.contains( "," + "3" + ",")) ? "checked=true" : "" %> >Finished</label></div></div></div></div>
</div>
<div class='col-md-12'>		<div><label class='control-label title-label'>Name<B class='red'>*</B></label><div class='controls'>
<input type='text' class='form-control' name='F0' value='<%= data["F0"] || "" %>' maxlength=200 minlength=3 required=true unique=true placeholder='Todo name'></div><span class='errormsg'>3~200 chars</span></div>
</div>
<div class='col-md-12'>		<div><label class='control-label title-label'>Detail<B class='red'>*</B></label><div class='controls'>
<textarea class='form-control richtext' name='F1' ><%= data["F1"] || "" %></textarea></div></div>
</div>
<div class='col-md-12'>		<div><label class='control-label title-label'>Owner<B class='red'>*</B></label><div class='controls'>
<input type='text' class='form-control' name='F4' value='<%= data["F4"] || "" %>' required=true unique=true placeholder='Todo detail despcription'></div></div>
</div>
<div class='col-md-12'><div class='panel-footer section-action' style='padding-top:20px;'>
<div class="col-md-0"><button type="submit" class="btn btn-primary"    style="min-width:80px;" title="">Commit </button></div>
<div class="col-md-0"><a class="btn btn-link"  href="/todo/list" style="min-width:80px;" title="">Cancel</a></div>
</div></div>
<span name='history' class='col-md-12'></span>
<script type='text/javascript'>getOPLogs('T1', 'V1', '<%= data["Rid"] %>');</script></div>
</form>
<iframe id='submitFrame' name='submitFrame' class='hidden'></iframe>
<script type='text/javascript'>  
	function checkFields() {
 var msg = ''; 
if ($('[name=F0]')[0]) { var val = $('[name=F0]').val(); switch ($('[name=F0]').attr('type')) { case 'radio': val = $('[name=F0]:checked').attr('value'); break; case 'textarea': val = $('[name=F0]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val.length > 200 || val.length < 3) return 'Please input 3~200 chars for Name.';if (val.length < 0) return 'Please input value for Name!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F0', val.length > 0);}
if ($('[name=F1]')[0]) { var val = $('[name=F1]').val(); switch ($('[name=F1]').attr('type')) { case 'radio': val = $('[name=F1]:checked').attr('value'); break; case 'textarea': val = $('[name=F1]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val.length < 0) return 'Please input value for Detail!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F1', val.length > 0);}
if ($('[name=F2]')[0]) { var val = $('[name=F2]').val(); switch ($('[name=F2]').attr('type')) { case 'radio': val = $('[name=F2]:checked').attr('value'); break; case 'textarea': val = $('[name=F2]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val.length < 0) return 'Please input value for Status!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F2', val.length > 0);}
if ($('[name=F3]')[0]) { var val = $('[name=F3]').val(); switch ($('[name=F3]').attr('type')) { case 'radio': val = $('[name=F3]:checked').attr('value'); break; case 'textarea': val = $('[name=F3]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val.length < 0) return 'Please input value for Priority!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F3', val.length > 0);}
if ($('[name=F4]')[0]) { var val = $('[name=F4]').val(); switch ($('[name=F4]').attr('type')) { case 'radio': val = $('[name=F4]:checked').attr('value'); break; case 'textarea': val = $('[name=F4]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val.length < 0) return 'Please input value for Owner!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F4', val.length > 0);}
if ($('[name=F5]')[0]) { var val = $('[name=F5]').val(); switch ($('[name=F5]').attr('type')) { case 'radio': val = $('[name=F5]:checked').attr('value'); break; case 'textarea': val = $('[name=F5]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val.length < 0) return 'Please input value for ID!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F5', val.length > 0);}

 return msg;}</script>

	<div class="go-top">
	<div class="btn-group">
		<a href="#" class="btn btn-default hidden"></a>
		<a href="javascript:;" id="scrollTop" class="btn btn-default glyphicon glyphicon-open"></a>
		<a href="javascript:;" id="scrollBack" class="btn btn-default glyphicon glyphicon-chevron-up"></a>
		<a href="javascript:;" id="scrollNext" class="btn btn-default glyphicon glyphicon-chevron-down"></a>
		<a href="#bottom" class="btn btn-default glyphicon glyphicon-save"></a>
		<a href="#" class="btn btn-default hidden"></a>
	</div>
	</div>
<script>
	<%- (("" || warning).length > 0) ?  'var warning = \'' + warning.replace(/'/g, "\\'") + '\'; \n  setTimeout("warn(warning)", 2);' : '' %>
	
</script>
	<div id="ModalView"></div>
<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" close="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal" style="min-width:80px;">OK</a>
        <a href="#" class="btn confirm-cancelbtn" style="min-width:80px;">Cancel</a>
      </div>
    </div>
  </div>
</div>
	<a name="bottom" > </a>
	<hr />
	<footer>
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin pull-left">
		<li><label>Dependencies：</label></li>
		<li><a target="_blank" href="https://nodejs.org/">NodeJS</a></li>
		<li><a target="_blank" href="http://www.mongodb.org/">mongoDB</a></li>
		<li><a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
		<li><a target="_blank" href="http://jquery.com/">jQuery</a></li>
		<li><a target="_blank" href="https://github.com/">GitHub</a></li>
		<li><a target="_blank" href="https://github.com/ItMan70s/bootstrap3-richtext">bootstrap3-richtext</a></li>
		</ul>
	</div>
	<div class="col-md-12 right">
		Created by <a href="https://github.com/ItMan70s/Tangrammy/">Tangrammy 0.3.0</a> at 2015.
	</div>
	</footer>
	</div>
</body>
</html>

