<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>ZCar - Tangrammy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/css/font-awesome.css' />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<!--[if lte IE 9]>
	<script src="/js/html5shiv.min.js"></script>
	<script src="/js/respond.min.js"></script>
	<script src="/js/json2.min.js"></script>
	<![endif]-->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/jquery.hotkeys.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
    <script src="/js/t.components.js"></script>
    <script src="/js/richtext.js"></script>
	<script src="/js/tangrammy.js"></script>
</head>
<body style="background-color: #f7f7f9">
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
			<a name="top" />
          <a class="navbar-brand" href="/">精益管理</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav tops">
            			<li class='active'><a href='/zcar/list' title=''>ZCar</a></li>
			<li ><a href='/todo/list' title=''>Todo</a></li>
			<li ><a href='/release/list' title=''>ZCarRelease</a></li>

          </ul>
          <ul class="nav navbar-nav pull-right">
<% if (request && request.u.user.name)  { %>
        <li class="dropdown" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= request.u.user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= request.u.userurl %>">Detail</a></li>
            <li><a href="javascript:changePassword('<%= request.u.userurl.substring(request.u.userurl.indexOf("=") + 1) %>', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% } else  {%>
            <li><a href="javascript:;" url='/i/login' name="login">Login</a></li>
            <li><a href="javascript:reg()" name="reg">Regester</a></li>
        <li class="dropdown hidden" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">uname<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="userurl">Detail</a></li>
            <li><a href="javascript:changePassword('rid', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% }%>
          </ul>
        </div><!--/.nav-collapse -->
		<a target="_blank" href="https://github.com/ItMan70s/tangrammy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub"></a>
      </div>
</header>
<div style="background-color: #FFF; padding-top:60px;"><div id="container" class="container">
	
<h1>任务详细</h1>

<div class='fields-section well col-md-12'>
<div class='row'>
<div class='input-group hidden'><input type='hidden' class='hidden' name='app' value='zcar'></div><div class="col-md-12"><label class='control-label title-label'>ID<B class='red'>*</B></label>
		<div class='form-show' readonly=true><%- ((data["F5"] || '') + '').replace(/(\r\n)|(\r)|(\n)/g, '<br />') %></div></div>
<div class="col-md-12"><label class='control-label title-label'>Name<B class='red'>*</B></label>
		<div class='form-show' readonly=true><%= ((data["F0"] || '') + '').replace(/(\r\n)|(\r)|(\n)/g, '<br />') %></div></div>
<div class="col-md-12"><label class='control-label title-label'>Detail<B class='red'>*</B></label>
		<div class='form-show' readonly=true><%- ((data["F1"] || '') + '').replace(/(\r\n)|(\r)|(\n)/g, '<br />') %></div></div>
<div class="col-md-12"><label class='control-label title-label'>Status<B class='red'>*</B></label>
<div class='form-show' readonly=true><% var val = data["F2"] || "";  val = "," + val.toString() + ",";%><% if (val.contains( "," + "0" + ",")) { %> <span class='pull-left col-md-auto'><img src='/img/s/b1.png'><span class='blue'>Initial</span></span> <% } %><% if (val.contains( "," + "1" + ",")) { %> <span class='pull-left col-md-auto'><img src='/img/s/b2.png'><span class='green'>In progress</span></span> <% } %><% if (val.contains( "," + "2" + ",")) { %> <span class='pull-left col-md-auto'><span class='orange'><img src=' /img/s/b4.png '>Paused</span></span> <% } %><% if (val.contains( "," + "3" + ",")) { %> <span class='pull-left col-md-auto'><span class='black'><img src=' /img/s/b7.png '>Finished</span></span> <% } %><% if (val.contains( "," + "4" + ",")) { %> <span class='pull-left col-md-auto'><img src=' /img/s/b6.png '> Released</span> <% } %></div></div>
<div class="col-md-12"><label class='control-label title-label'>Priority<B class='red'>*</B></label>
<div class='form-show' readonly=true><% var val = data["F3"] || "";  val = "," + val.toString() + ",";%><% if (val.contains( "," + "0" + ",")) { %> <span class='pull-left col-md-auto'><img src=' /img/s/f7.png '>Low</span> <% } %><% if (val.contains( "," + "1" + ",")) { %> <span class='pull-left col-md-auto'><img src='/img/s/f4.png'><span class='orange'>Medium</span></span> <% } %><% if (val.contains( "," + "2" + ",")) { %> <span class='pull-left col-md-auto'><img src='/img/s/f5.png'><span class='red'>High</span></span> <% } %></div></div>
<div class="col-md-12"><label class='control-label title-label'>Owner</label>
		<div class='form-show' readonly=true><%- ((data["F4"] || '') + '').replace(/(\r\n)|(\r)|(\n)/g, '<br />') %></div></div>
<div class="col-md-4"><label class='control-label title-label'>发布日期<B class='red'>*</B></label>
		<div class='form-show' readonly=true ><%= (data["F6"] || '') %></div></div>
<div class="col-md-4"><label class='control-label title-label'>开始日期</label>
		<div class='form-show' readonly=true ><%= (data["F7"] || '') %></div></div>
<div class="col-md-4"><label class='control-label title-label'>完成日期</label>
		<div class='form-show' readonly=true ><%= (data["F8"] || '') %></div></div>
<div class="col-md-12"><label class='control-label title-label'>说明</label>
		<div class='form-show' readonly=true><%- ((data["F9"] || '') + '').replace(/(\r\n)|(\r)|(\n)/g, '<br />') %></div></div><div class="col-md-12"><label class='control-label title-label'>代码行数</label>
		<div class='form-show' readonly=true><%= ((data["F10"] || '') + '').replace(/(\r\n)|(\r)|(\n)/g, '<br />') %></div></div><div class="col-md-12"><label class='control-label title-label'>Bug量</label>
		<div class='form-show' readonly=true><%= ((data["F11"] || '') + '').replace(/(\r\n)|(\r)|(\n)/g, '<br />') %></div></div><div class="col-md-12"><label class='control-label title-label'>Bug信息</label>
		<div class='form-show' readonly=true><%- ((data["F12"] || '') + '').replace(/(\r\n)|(\r)|(\n)/g, '<br />') %></div></div>
<div class='col-md-12'><div class='panel-footer section-action' style='padding-top:20px;'>
<div class="col-md-0"><a class="btn btn-primary col-md-2"  href="/zcar/list" style="min-width:80px;" title="">OK</a></div>
<div class="col-md-0"><a class="btn btn-default"  href="/zcar/update?Rid=<%= data["Rid"] %>" style="min-width:80px;" title=""><img src="/img/edit.png">Edit</a></div>
<div class="col-md-0"><a class="btn btn-default"  href="/zcar/copy?Rid=<%= data["Rid"] %>" style="min-width:80px;" title=""><img src="/img/copy.png">Copy&Create</a></div>
<div class="col-md-0"><a class="btn btn-default"  href="/zcar/new" style="min-width:80px;" title=""><img src="/img/add.png">Add new</a></div>
</div></div>
<span name='history' class='col-md-12'></span>
<script type='text/javascript'>getOPLogs('T1', 'V1', '<%= data["Rid"] %>');</script>	</div></div>

	<div class="go-top">
	<div class="btn-group">
		<a href="#" class="btn btn-default hide"></a>
		<a href="javascript:;" id="scrollTop" class="btn btn-default glyphicon glyphicon-open"></a>
		<a href="javascript:;" id="scrollBack" class="btn btn-default glyphicon glyphicon-chevron-up"></a>
		<a href="javascript:;" id="scrollNext" class="btn btn-default glyphicon glyphicon-chevron-down"></a>
		<a href="#bottom" class="btn btn-default glyphicon glyphicon-save"></a>
		<a href="#" class="btn btn-default hide"></a>
	</div>
	</div>
<script>
	<%- (("" || warning).length > 0) ?  'var warning = \'' + warning.replace(/'/g, "\\'") + '\'; \n  setTimeout("warn(warning)", 2);' : '' %>
	
</script>
	<div id="ModalView"></div>
<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" close="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal" style="min-width:80px;">OK</a>
        <a href="#" class="btn confirm-cancelbtn" style="min-width:80px;">Cancel</a>
      </div>
    </div>
  </div>
</div>
	<a name="bottom" > </a>
</div></div>
	
<footer style="border-top: 1px solid #e1e1e8; padding: 15px 0;">
<div class="container padding0">
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin" style="text-align: left;">
		<li><label>推荐网站: </label></li>
		<li><a href="http://mgcrea.github.io/angular-strap/#" target="_blank" title="">Angular Strap</a></li>
		<li><a href="http://www.apjs.net/" target="_blank" >Angular中文网</a></li>
		<li><a href="http://docs.ngnice.com/api/ng/service/$q" target="_blank" >Angular API</a></li>
		<li><a href="http://www.whycss.com/" target="_blank" >前端网址导航</a></li>
		<li><a href="http://ionichina.cn/docs/components/" target="_blank" >Ionic</a></li>
		<li><a href="http://codepen.io/ionic/public-list/" target="_blank" >Ionic Codes</a></li>
		<li><a href="http://www.bootcss.com/p/layoutit/#" target="_blank" >Bootstrap布局</a></li>
		</ul>
	</div>
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin" style="text-align: left;">
		<li><label>友情链接: </label></li>
		<li><a href="http://kunkkawu.com" target="_blank" title="吴坤的博客">吴坤的博客</a></li>
		<li><a href="http://www.yaozihao.cn" target="_blank" title="子豪的博客">子豪的博客</a></li>
		<li><a href="http://www.cnblogs.com/itman70s" target="_blank">Job的博客</a></li>
		<li><a href="http://itman70s.github.io/richtext/" target="_blank">富文本控件</a></li>
		<li><label>小工具: </label></li>
		<li><a href="/base64.html" target="_blank">Base64转换</a></li>
		<li><a href="/super.html" title="代码同步等小工具">小工具</a></li>		
		<li><a href="#" download=".xls" title="尝试下载当前页面数据">下载</a></li>		
		</ul>
	</div>
	<div class="col-md-12 right">
		Created by <a href="https://github.com/ItMan70s/Tangrammy/">Tangrammy 0.3.0</a> at 2016
	</div>
</div>
</footer>
</body>
</html>