<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Roles - Tangrammy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/css/font-awesome.css' />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/jquery.hotkeys.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-richtext.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
	<script src="/js/tangrammy.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
			<a name="top" />
          <a class="navbar-brand" href="/tangrammy">Tangrammy</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav tops">
            			<li ><a href='/' title=''>Home</a></li>
			<li ><a href='/todo/list' title=''>Todo</a></li>
			<li class='active backup'></li>

          </ul>
          <ul class="nav navbar-nav pull-right">
<% if (request && request.u.user.name)  { %>
        <li class="dropdown" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= request.u.user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= request.u.userurl %>">Detail</a></li>
            <li><a href="javascript:changePassword('<%= request.u.userurl.substring(request.u.userurl.indexOf("=") + 1) %>', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% } else  {%>
            <li><a href="javascript:;" url='/i/login' name="login">Login</a></li>
            <li><a href="javascript:reg()" name="reg">Regester</a></li>
        <li class="dropdown hidden" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">uname<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="userurl">Detail</a></li>
            <li><a href="javascript:changePassword('rid', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% }%>
          </ul>
        </div><!--/.nav-collapse -->
		<a target="_blank" href="https://github.com/ItMan70s/tangrammy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub"></a>
      </div>
    </div>
	<div id="container" class="container" style="padding-top:60px;padding-bottom:60px;">
	
<h1>Add New Roles</h1>

<form class='fields-section well col-md-12' method="post" action="/roles/new" target="submitFrame" >

<div class='row'>
<div class='col-md-12 <%= (code != 200) ? "alert alert-danger": "" %>'><%= (code != 200) ? message : "" %></div>
<div class='hidden'><input type='hidden' class='hidden' name='format' value='json'>
<input type='hidden' class='hidden' name='app' value='roles'>
<input type='hidden' class='hidden' name='Rid' value=''></div><div class='col-md-12'>		<div><label class='control-label title-label'>Role<B class='red'>*</B></label><div class='controls'>
<input type='text' class='form-control' name='F0' value='<%= data["F0"] || "" %>' required=true unique=true placeholder='Role name'></div></div>
</div>
<div class='col-md-12'>		<div><label class='control-label title-label'>Application<B class='red'>*</B></label><div class='controls'>
<% var val = data["F1"] || "";  val = "," + val.toString() + ",";%><div class='form-control min-h34'><input type='checkbox' name='F1' value='' checked=true class='hidden' ><div class='min-h20'>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='*'  required=true <%= (val.contains( "," + "*" + ",")) ? "checked=true" : "" %> >All</label>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T2/V1'  required=true <%= (val.contains( "," + "T2/V1" + ",")) ? "checked=true" : "" %> >Users</label>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T2/V3'  required=true <%= (val.contains( "," + "T2/V3" + ",")) ? "checked=true" : "" %> >UserLogin</label>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T3/V1'  required=true <%= (val.contains( "," + "T3/V1" + ",")) ? "checked=true" : "" %> >Links</label>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T4/V1'  required=true <%= (val.contains( "," + "T4/V1" + ",")) ? "checked=true" : "" %> >Todo</label>
			<label class='checkbox-inline wid100'><input type='checkbox' name='F1' value='T5/V1'  required=true <%= (val.contains( "," + "T5/V1" + ",")) ? "checked=true" : "" %> >Money</label></div><div class='min-h20'>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T5/V2'  required=true <%= (val.contains( "," + "T5/V2" + ",")) ? "checked=true" : "" %> >lend</label>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T5/V4'  required=true <%= (val.contains( "," + "T5/V4" + ",")) ? "checked=true" : "" %> >brotherlend</label>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T6/V1'  required=true <%= (val.contains( "," + "T6/V1" + ",")) ? "checked=true" : "" %> >books</label>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T7/V1'  required=true <%= (val.contains( "," + "T7/V1" + ",")) ? "checked=true" : "" %> >Words</label>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='T9/V1'  required=true <%= (val.contains( "," + "T9/V1" + ",")) ? "checked=true" : "" %> >Booking</label>
			<label class='checkbox-inline wid100'><input type='checkbox' name='F1' value='T9/V2'  required=true <%= (val.contains( "," + "T9/V2" + ",")) ? "checked=true" : "" %> >Servers</label></div><div class='min-h20'>
			<label class='checkbox-inline col-md-2 wid100'><input type='checkbox' name='F1' value='TA/V1'  required=true <%= (val.contains( "," + "TA/V1" + ",")) ? "checked=true" : "" %> >VMs</label></div></div></div></div>
</div>
<div class='col-md-12'>		<div><label class='control-label title-label'>Enable</label><div class='controls'>
<% var val = data["F2"] || "";  val = "," + val.toString() + ",";%><div class='form-control min-h34'><div class='min-h20'>
			<label class='radio-inline col-md-2 '><input type='radio' name='F2' value='1'  <%= (val.contains( "," + "1" + ",")) ? "checked=true" : "" %> >Enable</label>
			<label class='radio-inline col-md-2 '><input type='radio' name='F2' value='0'  <%= (val.contains( "," + "0" + ",")) ? "checked=true" : "" %> >Disable</label></div></div></div></div>
</div>
<div class='col-md-12'>		<div><label class='control-label title-label'>Default Role</label><div class='controls'>
<% var val = data["F3"] || "";  val = "," + val.toString() + ",";%><div class='form-control min-h34'><div class='min-h20'>
			<label class='radio-inline col-md-2 '><input type='radio' name='F3' value='1'  <%= (val.contains( "," + "1" + ",")) ? "checked=true" : "" %> >Yes</label>
			<label class='radio-inline col-md-2 '><input type='radio' name='F3' value='0'  <%= (val.contains( "," + "0" + ",")) ? "checked=true" : "" %> >No</label></div></div></div></div>
</div>
<div class='col-md-12'><div class='panel-footer section-action' style='padding-top:20px;'>
<div class="col-md-0"><button type="submit" class="btn btn-primary"    style="min-width:80px;" title="">Save </button></div>
<div class="col-md-0"><a class="btn btn-link"  href="/roles/list" style="min-width:80px;" title="">Cancel</a></div>
</div></div>
<span name='history' class='col-md-12'></span>
<script type='text/javascript'>getOPLogs('TF0', 'V1', '<%= data["Rid"] %>');</script></div>
</form>
<iframe id='submitFrame' name='submitFrame' class='hidden'></iframe>
<script type='text/javascript'>  
	function checkFields() {
 var msg = ''; 
if ($('[name=F0]')[0]) { var val = $('[name=F0]').val(); switch ($('[name=F0]').attr('type')) { case 'radio': val = $('[name=F0]:checked').attr('value'); break; case 'textarea': val = $('[name=F0]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val > 0 || val < 0) return 'Please input value between 0 and 0 for Role.';if (val.length < 0) return 'Please input value for Role!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F0', val.length > 0);}
if ($('[name=F1]')[0]) { var val = $('[name=F1]').val(); switch ($('[name=F1]').attr('type')) { case 'radio': val = $('[name=F1]:checked').attr('value'); break; case 'textarea': val = $('[name=F1]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val.length < 0) return 'Please input value for Application!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F1', val.length > 0);}
if ($('[name=F2]')[0]) { var val = $('[name=F2]').val(); switch ($('[name=F2]').attr('type')) { case 'radio': val = $('[name=F2]:checked').attr('value'); break; case 'textarea': val = $('[name=F2]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val > 0 || val < 0) return 'Please input value between 0 and 0 for Enable.';if (val.length < 0) return 'Please input value for Enable!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F2', val.length > 0);}
if ($('[name=F3]')[0]) { var val = $('[name=F3]').val(); switch ($('[name=F3]').attr('type')) { case 'radio': val = $('[name=F3]:checked').attr('value'); break; case 'textarea': val = $('[name=F3]')[0].value; break;} val = Function('val', "if (val == undefined) return '';if (val > 0 || val < 0) return 'Please input value between 0 and 0 for Default Role.';if (val.length < 0) return 'Please input value for Default Role!';return '';")(val); if (val.length > 0) msg += val + '\n'; showError('F3', val.length > 0);}

 return msg;}</script>

	<div class="go-top">
	<div class="btn-group">
		<a href="#" class="btn btn-default hidden"></a>
		<a href="javascript:;" id="scrollTop" class="btn btn-default glyphicon glyphicon-open"></a>
		<a href="javascript:;" id="scrollBack" class="btn btn-default glyphicon glyphicon-chevron-up"></a>
		<a href="javascript:;" id="scrollNext" class="btn btn-default glyphicon glyphicon-chevron-down"></a>
		<a href="#bottom" class="btn btn-default glyphicon glyphicon-save"></a>
		<a href="#" class="btn btn-default hidden"></a>
	</div>
	</div>
<script>
	<%- (("" || warning).length > 0) ?  'var warning = \'' + warning.replace(/'/g, "\\'") + '\'; \n  setTimeout("warn(warning)", 2);' : '' %>
	
</script>
	<div id="ModalView"></div>
<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" close="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal" style="min-width:80px;">OK</a>
        <a href="#" class="btn confirm-cancelbtn" style="min-width:80px;">Cancel</a>
      </div>
    </div>
  </div>
</div>
	<a name="bottom" > </a>
	<hr />
	<footer>
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin pull-left">
		<li><label>Dependencies：</label></li>
		<li><a target="_blank" href="https://nodejs.org/">NodeJS</a></li>
		<li><a target="_blank" href="http://www.mongodb.org/">mongoDB</a></li>
		<li><a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
		<li><a target="_blank" href="http://jquery.com/">jQuery</a></li>
		<li><a target="_blank" href="https://github.com/">GitHub</a></li>
		<li><a target="_blank" href="https://github.com/ItMan70s/bootstrap3-richtext">bootstrap3-richtext</a></li>
		</ul>
	</div>
	<div class="col-md-12 right">
		Created by <a href="https://github.com/ItMan70s/Tangrammy/">Tangrammy 0.3.0</a> at 2015.
	</div>
	</footer>
	</div>
</body>
</html>

